body {
  font-face: Verdana sans-serif;
  max-width: 60%
  margin: auto;
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

p {
  line-height: 1.5;
  color: #333;
}

p.substituted {
}

p.hidden {
  display: none;
}

p.indented {
  padding-left: 3em;
  padding-right: 3em;
}

p.emphasis {
  font-style: italic;
}


