---
layout: content.njk
title: Revelation, Time and Miracles
reference: T-1.II
eleventyNavigation:
  key: T-1.II
  title: T-1.II Revelation, Time and Miracles
  parent: T-1
  order: 1
prev: T-1.I
next: T-1.III
---

<p id=p1>
1. Revelation induces complete but temporary suspension of doubt and fear. 
²It reflects the original form of communication between God and His creations, involving the extremely personal sense of creation sometimes sought in physical relationships. 
³Physical closeness cannot achieve it. 
⁴Miracles, however, are genuinely interpersonal, and result in true closeness to others. 
⁵Revelation unites you directly with God. 
⁶Miracles unite you directly with your brother. 
⁷Neither emanates from consciousness, but both are experienced there. 
⁸Consciousness is the state that induces action, though it does not inspire it. 
⁹You are free to believe what you choose, and what you do attests to what you believe.

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Revelation induces complete but temporary suspension of doubt and fear. 
		It [revelation] reflects the original form of communication between God and His [God’] creations, involving the extremely personal sense of creation sometimes sought in physical relationships. 
		Physical closeness cannot achieve it [the original form of communication between God and God’s creations]. 
		Miracles, however, are genuinely interpersonal, and result in true closeness to others. 
		Revelation unites you directly with God. 
		Miracles unite you directly with your brother. 
		Neither [revelation nor miracles] emanates from consciousness, but both [revelations and miracles] are experienced there [in consciousness]. 
		Consciousness is the state that induces action, though it [consciousness] does not inspire it [action]. 
		You are free to believe what you choose, and what you do attests to what you believe.
</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Revelation induces complete but temporary suspension of doubt and fear. 
		Revelation reflects the original form of communication between God and God’ creations, involving the extremely personal sense of creation sometimes sought in physical relationships. 
		Physical closeness cannot achieve the original form of communication between God and God’s creations. 
		Miracles, however, are genuinely interpersonal, and result in true closeness to others. 
		Revelation unites you directly with God. 
		Miracles unite you directly with your brother. 
		Neither revelation nor miracles emanates from consciousness, but both revelations and miracles are experienced in consciousness. 
		Consciousness is the state that induces action, though consciousness does not inspire action. 
		You are free to believe what you choose, and what you do attests to what you believe.
</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		In your original state with God there is no doubt or fear. 
		Miracles unite you with your brother, until you can all be united with God in revelation.
		You can be conscious of your beliefs, and it is your beliefs that inspire action. 
</div>
</details>
{% endif %}


<p id=p2>
2. Revelation is intensely personal and cannot be meaningfully translated. 
²That is why any attempt to describe it in words is impossible. 
³Revelation induces only experience. 
⁴Miracles, on the other hand, induce action. 
⁵They are more useful now because of their interpersonal nature. 
⁶In this phase of learning, working miracles is important because freedom from fear cannot be thrust upon you. 
⁷Revelation is literally unspeakable because it is an experience of unspeakable love.

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Revelation is intensely personal and cannot be meaningfully translated. 
		That is why any attempt to describe it [revelation] in words is impossible. 
		Revelation induces only experience. 
		Miracles, on the other hand, induce action. 
		They [miracles] are more useful now because of their [miracles’] interpersonal nature. 
		In this phase of learning, working miracles is important because freedom from fear cannot be thrust upon you. 
	Revelation is literally unspeakable because it [revelation] is an experience of unspeakable love.
</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Revelation is intensely personal and cannot be meaningfully translated. 
		That is why any attempt to describe revelation in words is impossible. 
		Revelation induces only experience. 
		Miracles, on the other hand, induce action. 
		Miracles are more useful now because of miracles’ interpersonal nature. 
		In this phase of learning, working miracles is important because freedom from fear cannot be thrust upon you. 
	Revelation is literally unspeakable because revelation is an experience of unspeakable love.
</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		Revelation is an experience beyond words, a pure experience of unspeakable love. 
		Miracles are usefule because they are action-oriented and interpersonal.
</div>
</details>
{% endif %}


<p id=p3>
3. Awe should be reserved for revelation, to which it is perfectly and correctly applicable. 
²It is not appropriate for miracles because a state of awe is worshipful, implying that one of a lesser order stands before his Creator. 
³You are a perfect creation, and should experience awe only in the Presence of the Creator of perfection. 
⁴The miracle is therefore a sign of love among equals. 
⁵Equals should not be in awe of one another because awe implies inequality. 
⁶It is therefore an inappropriate reäction to me. 
⁷An elder brother is entitled to respect for his greater experience, and obedience for his greater wisdom. 
⁸He is also entitled to love because he is a brother, and to devotion if he is devoted. 
⁹It is only my devotion that entitles me to yours. 
¹⁰There is nothing about me that you cannot attain. 
¹¹I have nothing that does not come from God. 
¹²The difference between us now is that I have nothing else. 
¹³This leaves me in a state which is only potential in you.

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Awe should be reserved for revelation, to which [revelation] it [awe] is perfectly and correctly applicable. 
		It [awe] is not appropriate for miracles because a state of awe is worshipful, implying that one of a lesser order stands before his [a-lesser-one’s] Creator. 
		You are a perfect creation, and should experience awe only in the Presence of the Creator of perfection. 
		The miracle is therefore a sign of love among equals. 
		Equals should not be in awe of one another because awe implies inequality. 
		It [awe] is therefore an inappropriate reäction to me. 
		An elder brother is entitled to respect for [the-elder-brother’s] greater experience, and obedience for his [the-elder-brother’s] greater wisdom. 
		He [an elder brother] is also entitled to love because he [the elder brother] is a brother, and [entitled] to devotion if he [the elder brother] is devoted. 
		It is only my devotion that entitles me to yours [devotion]. 
		There is nothing about me that you cannot attain. 
		I have nothing that does not come from God. 
		The difference between us now is that I have nothing else. 
		This [having nothing that does not come from God] leaves me in a state which [state] is only potential in you.
</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Awe should be reserved for revelation — awe for revelation is perfectly and correctly applicable. 
		Awe is not appropriate for miracles because a state of awe is worshipful, implying that one of a lesser order stands before a-lesser-one’s Creator. 
		You are a perfect creation, and should experience awe only in the Presence of the Creator of perfection. 
		The miracle is therefore a sign of love among equals. 
		Equals should not be in awe of one another because awe implies inequality. 
		Awe is therefore an inappropriate reäction to me. 
		An elder brother is entitled to respect for the-elder-brother’s greater experience, and obedience for the-elder-brother’s greater wisdom. 
		An elder brother is also entitled to love because the elder brother is a brother, and entitled to devotion if the elder brother is devoted. 
		It is only my devotion that entitles me to your devotion. 
		There is nothing about me that you cannot attain. 
		I have nothing that does not come from God. 
		The difference between us now is that I have nothing else. 
		Having nothing that does not come from God leaves me in a state — a state that is only potential in you.
</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		
</div>
</details>
{% endif %}


<p id=p4>
4. “No man comes unto the Father but by me” does not mean that I am in any way separate or different from you except in time, and time does not really exist. 
²The statement is more meaningful in terms of a vertical rather than a horizontal axis. 
³You stand below me and I stand below God. 
⁴In the process of ‘rising up’, I am higher because without me the distance between God and man would be too great for you to encompass. 
⁵I bridge the distance as an elder brother to you on the one hand, and as a Son of God on the other. 
⁶My devotion to my brothers has placed me in charge of the Sonship, which I render complete because I share it. 
⁷This may appear to contradict the statement “I and my Father are one”, but there are two parts to the statement in recognition that the Father is greater.

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		“No man comes unto the Father but by me” does not mean that I am in any way separate or different from you except in time, and time does not really exist. 
		The statement [“No man comes unto the Father but by me”] is more meaningful in terms of a vertical [axis] rather than a horizontal axis. 
		You stand below me and I stand below God. 
		In the process of ‘rising up’, I am higher because without me the distance between God and man would be too great for you to encompass. 
		I bridge the distance as an elder brother to you on the one hand, and as a Son of God on the other [hand]. 
		My devotion to my brothers has placed me in charge of the Sonship, which [the Sonship] I render complete because I share it [the Sonship]. 
		This [being in charge of the Sonship] may appear to contradict the statement “I and my Father are one”, but there are two parts to the statement [“I and my Father are one”] in recognition that the Father is greater [than the Son].
</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		“No man comes unto the Father but by me” does not mean that I am in any way separate or different from you except in time, and time does not really exist. 
		The statement “No man comes unto the Father but by me” is more meaningful in terms of a vertical axis rather than a horizontal axis. 
		You stand below me and I stand below God. 
		In the process of ‘rising up’, I am higher because without me the distance between God and man would be too great for you to encompass. 
		I bridge the distance as an elder brother to you on the one hand, and as a Son of God on the other hand. 
		My devotion to my brothers has placed me in charge of the Sonship — the Sonship I render complete because I share the Sonship. 
		Being in charge of the Sonship may appear to contradict the statement “I and my Father are one”, but there are two parts to the statement “I and my Father are one”, in recognition that the Father is greater than the Son.	
</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		I am not separate from you, I am the head of the Sonship and a part of the Sonship. I bridge the gap between you and God. I am one with God, but God is greater. 
</div>
</details>
{% endif %}


<p id=p5>
5. Revelations are indirectly inspired by me because I am close to the Holy Spirit, and alert to the revelation-readiness of my brothers. 
²I can thus bring down to them more than they can draw down to themselves. 
³The Holy Spirit mediates higher to lower communication, keeping the direct channel from God to you open for revelation. 
⁴Revelation is not reciprocal. 
⁵It proceeds from God to you, but not from you to God.

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Revelations are indirectly inspired by me because I am close to the Holy Spirit, and alert to the revelation-readiness of my brothers. 
		I can thus bring down to them [my brothers] more than they [my brothers] can draw down to themselves [my-brothers’-selves]. 
		The Holy Spirit mediates higher to lower communication, keeping the direct channel from God to you open for revelation. 
		Revelation is not reciprocal. 
		It [revelation] proceeds from God to you, but [revelation does] not [proceed] from you to God.
</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Revelations are indirectly inspired by me because I am close to the Holy Spirit, and alert to the revelation-readiness of my brothers. 
		I can thus bring down to my brothers more than my brothers can draw down to my-brothers’-selves. 
		The Holy Spirit mediates higher to lower communication, keeping the direct channel from God to you open for revelation. 
		Revelation is not reciprocal. 
		Revelation proceeds from God to you, but revelation does not proceed from you to God.
</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		I can work with the Holy Spirit to help bring revelation down to my brothers.
</div>
</details>
{% endif %}


<p id=p6>
6. The miracle minimises the need for time. 
²In the longitudinal or horizontal plane the recognition of the equality of the members of the Sonship appears to involve almost endless time. 
³However, the miracle entails a sudden shift from horizontal to vertical perception. 
⁴This introduces an interval from which the giver and receiver both emerge farther along in time than they would otherwise have been. 
⁵The miracle thus has the unique property of abolishing time to the extent that it renders the interval of time it spans unnecessary. 
⁶There is no relationship between the time a miracle takes and the time it covers. 
⁷The miracle substitutes for learning that might have taken thousands of years. 
⁸It does so by the underlying recognition of perfect equality of giver and receiver on which the miracle rests. 
⁹The miracle shortens time by collapsing it, thus eliminating certain intervals within it. 
¹⁰It does this, however, within the larger temporal sequence.

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		The miracle minimises the need for time. 
		In the longitudinal or horizontal plane the recognition of the equality of the members of the Sonship appears to involve almost endless time. 
		However, the miracle entails a sudden shift from horizontal to vertical perception. 
		This [a shift from horizontal to vertical perception] introduces an interval from which [interval] the giver and receiver both emerge farther along in time than they [the giver and receiver] would otherwise have been. 
		The miracle thus has the unique property of abolishing time to the extent that it [the miracle] renders the interval of time it [the miracle] spans unnecessary. 
		There is no relationship between the time a miracle takes and the time it [a miracle] covers. 
		The miracle substitutes for learning that might have taken thousands of years. 
		It [the miracle] does so [substitutes for learning] by the underlying recognition of perfect equality of giver and receiver on which [perfect equality of giver and receiver] the miracle rests. 
		The miracle shortens time by collapsing it [time], thus eliminating certain intervals within it [time]. 
		It [the miracle] does this [shortens time], however, within the larger temporal sequence.
</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		The miracle minimises the need for time. 
		In the longitudinal or horizontal plane the recognition of the equality of the members of the Sonship appears to involve almost endless time. 
		However, the miracle entails a sudden shift from horizontal to vertical perception. 
		A shift from horizontal to vertical perception introduces an interval — the giver and receiver both emerge from the interval farther along in time than the giver and receiver would otherwise have been. 
		The miracle thus has the unique property of abolishing time to the extent that the miracle renders the interval of time the miracle spans unnecessary. 
		There is no relationship between the time a miracle takes and the time a miracle covers. 
		The miracle substitutes for learning that might have taken thousands of years. 
		The miracle substitutes for learning by the underlying recognition of perfect equality of giver and receiver — the miracle rests on perfect equality of giver and receiver . 
		The miracle shortens time by collapsing time, thus eliminating certain intervals within time. 
		The miracle shortens time, however, within the larger temporal sequence.
</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		The Sonship moves towards recognition of equality within itself, in time, proceeding linearly, horizontally. A miracle shifts perception ‘upwards’ towards God. Time shifting upward shortens the perception of horizontal time. 
</div>
</details>
{% endif %}