:root {
	--nc-font-sans: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	--nc-font-serif: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif; 
	--nc-tx-1: #111111;
	--nc-bg-1: #fffff8;
}

@media (prefers-color-scheme: dark) {
	:root {
		--nc-tx-1: #eeedf0;/*#ffffff*/
		--nc-tx-2: #dddce9;/*#eeeeee*/
		--nc-bg-1: #012456;/*#000000;*/
		--nc-bg-2: #123567;/*#111111;*/
		--nc-bg-3: #234678;/*#222222;*/
		--nc-lk-1: #3291FF;
		--nc-lk-2: #0070F3;
		--nc-lk-tx: #FFFFFF;
		--nc-ac-1: #7928CA;
		--nc-ac-tx: #FFFFFF;
	}
}

body {
	border-radius: initial;
	font-size: 1rem;
	max-width: 500px;
	line-height: 1.625;
}

h1,
h2,
h3 {
	color: var(--nc-tx-1);
	padding-bottom: .25rem;
	margin-bottom: .5rem;
	border-bottom: 1px solid var(--nc-bg-2);
}

h2, h3 {
	line-height: 1.25;
}

h3 {
	margin-bottom: 1rem;
}

footer {
	background: var(--nc-bg-2);
	border-top: 1px solid var(--nc-bg-3);
	padding: 2rem 1.5rem;
	
	/* This sets the right and left margins to cancel out the body's margins. It's width is still the same, but the background stretches across the page's width. */

	margin: 2rem calc(0px - (50vw - 50%)) -2rem;

	/* Shorthand for:

	margin-top: -2rem;
	margin-bottom: 2rem;

	margin-left: calc(0px - (50vw - 50%));
	margin-right: calc(0px - (50vw - 50%)); */
	
	padding-left: calc(50vw - 50%);
	padding-right: calc(50vw - 50%);

	text-align: center;
}

@media only screen and (min-device-width: 500px) { 
	div.indented, div.indent {
		margin-left: 4rem;
		margin-right: 4rem;
	}
}

a {
text-decoration: none;
color: var(--nc-lk-2);
}

header h1 a, header h1 a:active, header h1 a:visited {
	color: var(--nc-tx-1)
}


header > nav ul {
	list-style-type: none;
	margin-bottom: initial;
	padding-left: initial;
}

header > nav li {
	display: inline;
}

header > nav li + li::before {
	content: " ◆ ";
}


main > nav {
	font-size: .8rem;
}

main > nav ul {
	list-style-type: none;
	padding-left: initial;
}

main > nav li {
	display: inline;
}

main > nav li + li::before {
	content: "→";
}



article {
	margin-bottom: 2rem;
}


section { 
	overflow:auto
}



div.zero-height {
	height: 0;
}

p.italic {
	font-style: italic;
}

p.bold {
	font-weight: bold;
}

p.indent {
	margin-left: 2.5em;
	margin-right: 2.5em;
}

p.double-indent {
	margin-left: 5em;
}