<nav>
{% set navPages = collections.all | eleventyNavigationBreadcrumb(reference) %}
<ul>
{%- for entry in navPages %}
  <li>
    <a href="{{ entry.url | url }}">{{ entry.title }}</a>
{%- endfor %}
  <li>
    {% if reference | length > 1  %}{{reference}}{%endif%} {{ title }}
</ul>
</nav>