---
layout: base.njk
---

{% include "breadcrumb.njk" %}

<h2>{{ reference }} {{ title }}</h2>

{% set navPages = collections.all | eleventyNavigation(reference) %}

<ul>
{%- for entry in navPages -%}
    <li><a href="{{ entry.url | url }}">{{ entry.title }}</a>
    {% if entry.children %}
    <ul>
      {%- for child in entry.children -%}
        <li><a href="{{ child.url | url }}">{{ child.title }}</a>
      {%- endfor -%}
    </ul>
    {% endif %}
{%- endfor -%}
</ul>