---
layout: content.njk
title: My Title
reference: X-X.XX
eleventyNavigation:
  key: X-X.XX
  title: X-X.XX My Title
  parent: X-X.XX
  order: 1
prev: X-X.XX
next: T-1.III
---

1.&emsp;
²
³
⁴
⁵
⁶
⁷
⁸
⁹
¹⁰

::: details Expanded

:::

::: details Substituted

:::

::: details Simplified

:::

---