---
layout: content.njk
title: Cause and Effect
reference: T-2.VII
eleventyNavigation:
  key: T-2.VII
  title: T-2.VII Cause and Effect
  parent: T-2
  order: 7
prev: T-2.VI
next: T-2.VIII
---

<p id="p1">
1. You may still complain about fear, but you nevertheless persist in making yourself fearful. 
²I have already indicated that you cannot ask me to release you from fear. 
³I know it does not exist, but you do not. 
⁴If I intervened between your thoughts and their results, I would be tampering with a basic law of cause and effect; the most fundamental law there is. 
⁵I would hardly help you if I depreciated the power of your own thinking. 
⁶This would be in direct opposition to the purpose of this course. 
⁷It is much more helpful to remind you that you do not guard your thoughts carefully enough. 
⁸You may feel that at this point it would take a miracle to enable you to do this, which is perfectly true. 
⁹You are not used to miracle-minded thinking, but you can be trained to think that way. 
¹⁰All miracle workers need that kind of training.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
You may still complain about fear, but you nevertheless persist in making yourself fearful. 
I have already indicated that you cannot ask me to release you from fear. 
I know it [fear] does not exist, but you do not [know fear does not exist]. 
If I intervened between your thoughts and their [your-thoughts’] results, I would be tampering with a basic law of cause and effect; the most fundamental law there is. 
I would hardly help you if I depreciated the power of your own thinking. 
This [depreciating the power of your thinking] would be in direct opposition to the purpose of this course [<em>A Course in Miracles</em>]. 
It is much more helpful to remind you that you do not guard your thoughts carefully enough. 
You may feel that at this point it would take a miracle to enable you to do this [guard your thoughts carefully enough], which [taking a miracle] is perfectly true. 
You are not used to miracle-minded thinking, but you can be trained to think that way [miracle mindedly]. 
All miracle workers need that kind of training [how to guard your thoughts].
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
You may still complain about fear, but you nevertheless persist in making yourself fearful. 
I have already indicated that you cannot ask me to release you from fear. 
I know fear does not exist, but you do not know fear does not exist. 
If I intervened between your thoughts and your-thoughts’ results, I would be tampering with a basic law of cause and effect; the most fundamental law there is. 
I would hardly help you if I depreciated the power of your own thinking. 
Depreciating the power of your thinking would be in direct opposition to the purpose of <em>A Course in Miracles</em>. 
It is much more helpful to remind you that you do not guard your thoughts carefully enough. 
You may feel that at this point it would take a miracle to enable you to guard your thoughts carefully enough]; taking a miracle is perfectly true. 
You are not used to miracle-minded thinking, but you can be trained to think miracle mindedly. 
All miracle workers need training in how to guard your thoughts.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
You make yourself fearful by not guarding your thoughts carefully enough. 
Fear does not exist. 
The purpose of A Course in Miracles is to train you to think in a miracle-minded way.
	</div>
</details>
{% endif %}



<p id="p2">
2. I cannot let you leave your mind unguarded, or you will not be able to help me. 
²Miracle working entails a full realisation of the power of thought in order to avoid miscreation. 
³Otherwise a miracle will be necessary to set the mind itself straight, a circular process that would not foster the time collapse for which the miracle was intended. 
⁴The miracle worker must have genuine respect for true cause and effect as a necessary condition for the miracle to occur.
</p>

{% if showDetails %}
<details>
	<summary>Simplified</summary>
	<div>
I need you to guard your mind. 
An unguarded mind miscreates. 
A straightened mind is needed for miracles. 
Straightening the mind with a miracle is ineffective. 
Miracles collapse time. 
A straightened mind respects cause and effect. 
	</div>
</details>
{% endif %}

<p id="p3">
3. Both miracles and fear come from thoughts. 
²If you are not free to choose one, you would also not be free to choose the other. 
³By choosing the miracle you <em>have</em> rejected fear, if only temporarily. 
⁴You have been fearful of everyone and everything. 
⁵You are afraid of God, of me and of yourself. 
⁶You have misperceived or miscreated Us, and believe in what you have made. 
⁷You would not have done this if you were not afraid of your own thoughts. 
⁸The fearful <em>must</em> miscreate, because they misperceive creation. 
⁹When you miscreate you are in pain. 
¹⁰The cause and effect principle now becomes a real expediter, though only temporarily. 
¹¹Actually, “Cause” is a term properly belonging to God, and His “Effect” is His Son. 
¹²This entails a set of Cause and Effect relationships totally different from those you introduce into miscreation. 
¹³The fundamental conflict in this world, then, is between creation and miscreation. 
¹⁴All fear is implicit in the second, and all love in the first. 
¹⁵The conflict is therefore one between love and fear.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
Both miracles and fear come from thoughts. 
If you are not free to choose one [miracle or fear], you would also not be free to choose the other. 
By choosing the miracle you <em>have</em> rejected fear, if only temporarily. 
You have been fearful of everyone and everything. 
You are afraid of God, of me and of yourself. 
You have misperceived or miscreated Us, and believe in what you have made. 
You would not have done this [misperceived and miscreated Us] if you were not afraid of your own thoughts. 
The fearful <em>must</em> miscreate, because they [the fearful] misperceive creation. 
When you miscreate you are in pain. 
The cause and effect principle now becomes a real expediter, though only temporarily. 
Actually, “Cause” is a term properly belonging to God, and His [God’s] “Effect” is His [God’s] Son. 
This [God causing the Son] entails a set of Cause and Effect relationships totally different from those [the cause and effect relationships] you introduce into miscreation. 
The fundamental conflict in this world, then, is between creation and miscreation. 
All fear is implicit in the second [miscreation], and all love [is implicit] in the first [creation]. 
The conflict is therefore one [a conflict] between love and fear.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
Both miracles and fear come from thoughts. 
If you are not free to choose one of a miracle, or fear, you would also not be free to choose the other. 
By choosing the miracle you <em>have</em> rejected fear, if only temporarily. 
You have been fearful of everyone and everything. 
You are afraid of God, of me and of yourself. 
You have misperceived or miscreated Us, and believe in what you have made. 
You would not have misperceived and miscreated Us, if you were not afraid of your own thoughts. 
The fearful <em>must</em> miscreate, because the fearful misperceive creation. 
When you miscreate you are in pain. 
The cause and effect principle now becomes a real expediter, though only temporarily. 
Actually, “Cause” is a term properly belonging to God, and God’s “Effect” is God’s Son. 
God causing the Son entails a set of Cause and Effect relationships totally different from the cause and effect relationships you introduce into miscreation. 
The fundamental conflict in this world, then, is between creation and miscreation. 
All fear is implicit in miscreation, and all love is implicit in creation. 
The conflict is therefore a conflict between love and fear.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
Miracles and fear both come from thoughts. 
You chose fear and misperceived and miscreated God and God’s Son. 
You caused yourself pain.
You must be free to choose miracles and love. 
God’s love caused the Son. 
	</div>
</details>
{% endif %}

<p id="p4">
4. It has already been said that you believe you cannot control fear because you yourself made it, and your belief in it seems to render it out of your control. 
²Yet any attempt to resolve the error through attempting the mastery of fear is useless. 
³In fact, it asserts the power of fear by the very assumption that it need be mastered. 
⁴The true resolution rests entirely on mastery through love. 
⁵In the interim, however, the sense of conflict is inevitable, since you have placed yourself in a position where you believe in the power of what does not exist.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
It has already been said that you believe you cannot control fear because you yourself made it [fear], and your belief in it [fear] seems to render it [fear] out of your control. 
Yet any attempt to resolve the error through attempting the mastery of fear is useless. 
In fact, it [attempting to resolve error by mastering fear] asserts the power of fear by the very assumption that it [fear] need be mastered. 
⁴The true resolution [of fear] rests entirely on mastery through love. 
⁵In the interim, however, the sense of conflict is inevitable, since you have placed yourself in a position where you believe in the power of what does not exist.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
It has already been said that you believe you cannot control fear because you yourself made fear, and your belief in fear seems to render fear out of your control. 
Yet any attempt to resolve the error through attempting the mastery of fear is useless. 
In fact, attempting to resolve error by mastering fear asserts the power of fear by the very assumption that fear need be mastered. 
⁴The true resolution of fear rests entirely on mastery through love. 
⁵In the interim, however, the sense of conflict is inevitable, since you have placed yourself in a position where you believe in the power of what does not exist.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
You believe in fear, which seems to make fear out of your control. 
Controlling fear is not the answer. 
Fear is resolved by love. 
	</div>
</details>
{% endif %}


<p id="p5">
5. Nothing and everything cannot coexist. 
²To believe in one is to deny the other. 
³Fear is really nothing and love is everything. 
⁴Whenever light enters darkness, the darkness is abolished. 
⁵What you believe is true for you. 
⁶In this sense the separation <em>has</em> occurred, and to deny it is merely to use denial inappropriately. 
⁷However, to concentrate on error is only a further error. 
⁸The initial corrective procedure is to recognize temporarily that there is a problem, but only as an indication that immediate correction is needed. 
⁹This establishes a state of mind in which the Atonement can be accepted without delay. 
¹⁰It should be emphasized, however, that ultimately no compromise is possible between everything and nothing. 
¹¹Time is essentially a device by which all compromise in this respect can be given up. 
¹²It only seems to be abolished by degrees, because time itself involves intervals that do not exist. 
¹³Miscreation made this necessary as a corrective device. 
¹⁴The statement “For God so loved the world that he gave his only begotten Son, that whosoever believes in him should not perish but have everlasting life” needs only one slight correction to be meaningful in this context: “He gave it <em>to</em> His only begotten Son”.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
Nothing and everything cannot coexist. 
To believe in one [of nothing and everything], is to deny the other [one]. 
Fear is really nothing and love is everything. 
Whenever light enters darkness, the darkness is abolished. 
What you believe is true for you. 
In this sense the separation <em>has</em> occurred, and to deny it [the separation] is merely to use denial inappropriately. 
However, to concentrate on error is only a further error. 
The initial corrective procedure is to recognize temporarily that there is a problem, but only as an indication that immediate correction is needed. 
This establishes a state of mind in which the Atonement can be accepted without delay. 
It should be emphasized, however, that ultimately no compromise is possible between everything and nothing. 
Time is essentially a device by which all compromise in this respect [between everything and nothing] can be given up. 
It [compromise between everything and nothing] only seems to be abolished by degrees, because time itself involves intervals that do not exist. 
Miscreation made this [time] necessary as a corrective device. 
The statement “For God so loved the world that he [God] gave his [God’s] only begotten Son, that whosoever believes in him [God’s-only-begotten-Son] should not perish but have everlasting life” needs only one slight correction to be meaningful in this context: “He [God] gave it [the world] <em>to</em> His [God’s] only begotten Son”.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
Nothing and everything cannot coexist. 
To believe in one of nothing and everything, is to deny the other one. 
Fear is really nothing and love is everything. 
Whenever light enters darkness, the darkness is abolished. 
What you believe is true for you. 
In this sense the separation <em>has</em> occurred, and to deny the separation is merely to use denial inappropriately. 
However, to concentrate on error is only a further error. 
The initial corrective procedure is to recognize temporarily that there is a problem, but only as an indication that immediate correction is needed. 
This establishes a state of mind in which the Atonement can be accepted without delay. 
It should be emphasized, however, that ultimately no compromise is possible between everything and nothing. 
Time is essentially a device by which all compromise between everything and nothing can be given up. 
Compromise between everything and nothing only seems to be abolished by degrees, because time itself involves intervals that do not exist. 
Miscreation made time necessary as a corrective device. 
The statement “For God so loved the world that God gave God’s only begotten Son, that whosoever believes in God’s-only-begotten-Son, should not perish but have everlasting life” needs only one slight correction to be meaningful in this context: “God gave the world <em>to</em> God’s only begotten Son”.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
There is no fear. 
There is only love. 
You must first recognise that you believe in separation. 
Recognising the belief in separation is temporary. 
Then the belief in separation can be corrected. 
Separation is corrected by accepting the Atonement. 
Time is a learning device. 
Time is the gap that enables you to recognise the belief in separation before you accept the Atonement. 
	</div>
</details>
{% endif %}


<p id="p6">
6. It should especially be noted that God has only <em>one</em> Son. 
²If all His creations are His Sons, every one must be an integral part of the whole Sonship. 
³The Sonship in its Oneness transcends the sum of its parts. 
⁴However, this is obscured as long as any of its parts is missing. 
⁵That is why the conflict cannot ultimately be resolved until all the parts of the Sonship have returned. 
⁶Only then can the meaning of wholeness in the true sense be understood. 
⁷Any part of the Sonship can believe in error or incompleteness if he so chooses. 
⁸However, if he does so, he is believing in the existence of nothingness. 
⁹The correction of this error is the Atonement.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
It should especially be noted that God has only <em>one</em> Son. 
If all His [God’s] creations are His [God’s] Sons, every one [Son] must be an integral part of the whole Sonship. 
The Sonship in its [the-Sonship’s] Oneness transcends the sum of its [the-Sonship’s] parts. 
However, this is obscured as long as any of its [the-Sonship’s] parts is missing. 
That is why the conflict cannot ultimately be resolved until all the parts of the Sonship have returned. 
Only then can the meaning of wholeness in the true sense be understood. 
Any part of the Sonship can believe in error or incompleteness if he [a part of the Sonship] so chooses. 
However, if he [a part of the Sonship] does so [choose to believe in error or incompleteness], he [a part of the Sonship] is believing in the existence of nothingness. 
The correction of this error [believing in nothingness] is the Atonement.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
It should especially be noted that God has only <em>one</em> Son. 
If all God’s creations are God’s Sons, every Son must be an integral part of the whole Sonship. 
The Sonship in the-Sonship’s Oneness transcends the sum of the-Sonship’s parts. 
However, this is obscured as long as any of the-Sonship’s parts are missing. 
That is why the conflict cannot ultimately be resolved until all the parts of the Sonship have returned. 
Only then can the meaning of wholeness in the true sense be understood. 
Any part of the Sonship can believe in error or incompleteness if that part of the Sonship so chooses. 
However, if a part of the Sonship does choose to believe in error or incompleteness, that part of the Sonship is believing in the existence of nothingness. 
The correction of the error of believing in nothingness is the Atonement.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
God has one Son. 
The Son has many parts. 
The Son is not whole without all the parts. 
A part of the Son can believe in error or incompleteness. 
Believing in error or incompleteness is believing in the existence of nothingness. 
The Atonement is the correction of error, lack and separation.
	</div>
</details>
{% endif %}


<p id="p7">
7. I have already briefly spoken about readiness, but some additional points might be helpful here. 
²Readiness is only the prerequisite for accomplishment. 
³The two should not be confused. 
⁴As soon as a state of readiness occurs, there is usually some degree of desire to accomplish, but it is by no means necessarily undivided. 
⁵The state does not imply more than a potential for a change of mind. 
⁶Confidence cannot develop fully until mastery has been accomplished. 
⁷We have already attempted to correct the fundamental error that fear can be mastered, and have emphasized that the only real mastery is through love. 
⁸Readiness is only the beginning of confidence. 
⁹You may think this implies that an enormous amount of time is necessary between readiness and mastery, but let me remind you that time and space are under my control.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
I have already briefly spoken about readiness, but some additional points might be helpful here. 
Readiness is only the prerequisite for accomplishment. 
The two [readiness and accomplishment] should not be confused. 
As soon as a state of readiness occurs, there is usually some degree of desire to accomplish, but it [desire to accomplish] is by no means necessarily undivided. 
The state [of readiness] does not imply more than a potential for a change of mind. 
Confidence cannot develop fully until mastery has been accomplished. 
We have already attempted to correct the fundamental error that fear can be mastered, and have emphasized that the only real mastery is through love. 
Readiness is only the beginning of confidence. 
You may think this implies that an enormous amount of time is necessary between readiness and mastery, but let me remind you that time and space are under my control.
</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
I have already briefly spoken about readiness, but some additional points might be helpful here. 
Readiness is only the prerequisite for accomplishment. 
Readiness and accomplishment should not be confused. 
As soon as a state of readiness occurs, there is usually some degree of desire to accomplish, but desire to accomplish is by no means necessarily undivided. 
The state of readiness does not imply more than a potential for a change of mind. 
Confidence cannot develop fully until mastery has been accomplished. 
We have already attempted to correct the fundamental error that fear can be mastered, and have emphasized that the only real mastery is through love. 
Readiness is only the beginning of confidence. 
You may think this implies that an enormous amount of time is necessary between readiness and mastery, but let me remind you that time and space are under my control.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
Be ready to accomplish. 
Being ready to accomplish means having potential for a change of mind. 
The desire for accomplishment can be misguided because of fear. 
Fear is resolved by love in time. 
I control time and space. 
	</div>
</details>
{% endif %}
