---
layout: default2
title: T–in Introduction
prev: ''
next: /t/1
---
{% include prev-next.html %}
{% include section.html %}
<div class=content>
  <div class=paragraph id="t-in.1">
    <p class=fip>1.&emsp;This is a course in miracles. <sup>2</sup>It is a required course. <sup>3</sup> Only the
      time you take it is voluntary. <sup>4</sup>Free will does not mean that you can establish the curriculum.
      sup>5</sup>It means only that you can elect what you want to take at a given time. <sup>6</sup>The course does not
      aim at teaching the meaning of love, for that is beyond what can be taught. <sup>7</sup>It does aim, however, at
      removing the blocks to the awareness of love’s presence, which is your natural inheritance. <sup>8</sup>The
      opposite of love is fear, but what is all-encompassing can have no opposite.</p>

    <p class=expanded>1.&emsp;This is a course in miracles. <sup>2</sup>It [the course] is a required course.
      <sup>3</sup> Only the time you take it [the course] is voluntary. <sup>4</sup>Free will does not mean that you can
      establish the curriculum. <sup>5</sup>It [Free will] means only that you can elect what you want to take at a
      given time. <sup>6</sup>The course does not aim at teaching the meaning of love, for that [the meaning of love] is
      beyond what can be taught. <sup>7</sup>It [the course] does aim, however, at removing the blocks to the awareness
      of love’s presence, which [love’s presence] is your natural inheritance. <sup>8</sup>The opposite of love is fear,
      but what is all-encompassing [love] can have no opposite.</p>

    <p class=substituted>1.&emsp;This is a course in miracles. <sup>2</sup>The course is a required course.
      <sup>3</sup>Only the time you take the course is voluntary. <sup>4</sup>Free will does not mean that you can
      establish the curriculum. <sup>5</sup>Free will means only that you can elect what you want to take at a given
      time. <sup>6</sup>The course does not aim at teaching the meaning of love, for the meaning of love is beyond what
      can be taught. <sup>7</sup>The course does aim, however, at removing the blocks to the awareness of love’s
      presence; love’s presence is your natural inheritance. <sup>8</sup>The opposite of love is fear, but love is
      all-encompassing and can have no opposite.</p>

    <p class=simplified>This is a course in miracles. The Course is required. But you can choose when to take it. The
      course does not teach the meaning of love. Instead the course teaches how to remove the blocks to the awareness of
      love’s presence. The opposite of love is fear. But love encompasses everything.</p>

    <p class=commentary>This is a manual for a special curriculum, intended for teachers of a special form of the universal course. There are many thousands of other forms, all with the same outcome (<a href="/m/1#m-1.4">M-1.4:1–2</a>).</p>
    <p class=commentary>As the course emphasises, you are not free to choose the curriculum or even the form in which you will learn it. You are free, however, to decide when you want to learn it (<a href="/m/2#m-2.3">M-2.3:6–7</a>).</p>
    <p class=commentary>…if the Course is a person’s path it should be followed; however, if it is not a suitable path, another would be found to serve the same purpose (Wapnick, LDNC p.12).</p>
    <p class=commentary>What is “required” is the <em>universal</em> course, and that any particular form of it (such as <em>A Course in Miracles</em>) is required only for those to whom that form is assigned (C of A, p. 3).</p>
    <p class=commentary>The central teaching of <em>A Course in Miracles</em> is not the love and unity that is our reality in Heaven, but rather the identifying and undoing of the guilt and fear — “protected” by our special relationships — that we believe to be our reality on earth (Wapnick, LDNC, p. 605).</p>
    <p class=commentary>As long as we are learning, we are in the state of perception, and in this state we cannot know what love really means — what love really <em>is</em> (C of A, p.3).</p>
    <p class=commentary>Once we remove our blocks to love we pass beyond perception to what the <em>Course</em> calls knowledge, where we are one with the Mind of God (C of A, p.3). </p>
    <p class=commentary>True humility would have us welcome gladly the truth that in this world we have much to learn, and so we gratefully accept the spiritual tool and inner Guide that would teach us how to remove “the blocks to the awareness of love’s presence”, and return home to that Love (Wapnick, LDNC, p.612).</p>
    <p class=commentary>By denying the reality of the world (once seen as a miscreated dream), the God–World paradox disappears since what does not exist cannot be held antithetical to what does (Wapnick, LDNC, p. 457).</p>
    <p class=commentary>Once one has had an experience of God’s non-dualistic Love, the inherently dualistic question [how did the impossible happen?] — ultimately borne of fear or ignorance — could never be asked (Wapnick, AAC, 24).</p>
  </div>
  <div class=paragraph id="t-in.2">
    <p class=fip>2.&emsp;This course can therefore be summed up very simply in this way: <span
        class="indented emphasis"><sup>2</sup>Nothing real can be threatened.<br><sup>3</sup>Nothing unreal
        exists.</span> <sup>4</sup>Herein lies the peace of God.</p>

    <p class=expanded>2.&emsp;This course [A Course in Miracles] can therefore be summed up very simply in this way:
      <span class="indented emphasis"><sup>2</sup>Nothing real can be threatened.<br><sup>3</sup>Nothing unreal
        exists.</span> <sup>4</sup>Herein [In this summary] lies the peace of God.</p>

    <p class=substituted>2.&emsp;A Course in Miracles can therefore be summed up very simply in this way: <span
        class="indented emphasis"><sup>2</sup>Nothing real can be threatened.<br> <sup>3</sup>Nothing unreal
        exists.</span> <sup>4</sup>In this summary lies the peace of God.</p>

    <p class=simplified>The real never changes, so the real can’t be threatened. Anything that can change
      doesn’t actually exist. True peace is knowing this.</p>

    <p class=commentary>God and Christ alone are real, and therefore cannot be threatened by the “tiny, mad idea” of separation that is not of God, and so cannot be real and does not exist. <em>Any</em> and <em>every</em> problem thus must also be non-existent, since a problem in the presence of God is inconceivable… The true “problem”, then, must lie in the <em>belief</em> there is a problem (Wapnick, LDNC, p.525).</p>

  </div>

  

</div>