---
layout: content.njk
title: Special Principles of Miracle Workers
reference: T-2.V.A
eleventyNavigation:
  key: T-2.V.A
  title: T-2.V.A Special Principles of Miracle Workers
  parent: T-2
  order: 5.1
prev: T-2.V
next: T-2.VI
---


<h2>A. Special Principles of Miracle Workers</h2>

<p id="p11">
11. (1) The miracle abolishes the need for lower-order concerns. 
²Since it is an out-of-pattern time interval, the ordinary considerations of 
time and space do not apply.
³When you perform a miracle, I will arrange both time and space to adjust to 
it.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
The miracle abolishes the need for lower-order concerns. 
Since it [the miracle] is an out-of-pattern time interval, the ordinary considerations of time and space do not apply.
When you perform a miracle, I will arrange both time and space to adjust to it [the miracle].
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
The miracle abolishes the need for lower-order concerns. 
Since the miracle is an out-of-pattern time interval, the ordinary considerations of time and space do not apply.
When you perform a miracle, I will arrange both time and space to adjust to the miracle.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
Miracles change your relationship to time and space. 
I will help you to adjust.
	</div>
</details>
{% endif %}

<p id="p12">
12. (2) A clear distinction between what is created and what is made is essential.
²All forms of healing rest on this fundamental correction in level perception.
</p>

{% if showDetails %}
<details>
	<summary>Simplified</summary>
	<div>
Healing depends on you distinguishing between what is created and what is made.
	</div>
</details>
{% endif %}


<p id="p13">
13. (3) Never confuse right- and wrong-mindedness.
²Responding to any form of error with anything except a desire to heal is an expression of this confusion.
</p>

{% if showDetails %}
<details>
	<summary>Simplified</summary>
	<div>
Right mind responds to error with a desire to heal.
	</div>
</details>
{% endif %}


<p id="p14">
14. (4) The miracle is always a denial of this error and an affirmation of the truth.
²Only right-mindedness can correct in a way that has any real effect.
³Pragmatically, what has no real effect has no real existence.
⁴Its effect, then, is emptiness.
⁵Being without substantial content, it lends itself to projection.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
The miracle is always a denial of this error and an affirmation of the truth.
Only right-mindedness can correct in a way that has any real effect.
Pragmatically, what has no real effect has no real existence.
Its [wrong-mindedness’s] effect, then, is emptiness.
Being without substantial content, it [wrong-mindedness] lends itself to projection.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
The miracle is always a denial of this error and an affirmation of the truth.
Only right-mindedness can correct in a way that has any real effect.
Pragmatically, what has no real effect has no real existence.
Wrong-mindedness’s effect, then, is emptiness.
Being without substantial content, wrong-mindedness lends itself to projection. 
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
It is wrong-minded to believe in what has been made.
It is wrong minded not to want to heal wrong-mindedness.
Wrong-mindedness can have no real effect. 
Wrong-mindedness causes projection.
Right-mindedness heals and corrects. 
	</div>
</details>
{% endif %}

<p id="p15">
15. (5) The level-adjustment power of the miracle induces the right perception for healing.
²Until this has occurred healing cannot be understood.
³Forgiveness is an empty gesture unless it entails correction.
⁴Without this it is essentially judgmental, rather than healing.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
The level-adjustment power of the miracle induces the right perception for healing.
Until this [level-adjustment, right perception] has occurred healing cannot be understood.
Forgiveness is an empty gesture unless it [forgiveness] entails correction.
Without this [correction] it [forgiveness] is essentially judgmental, rather than healing.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
The level-adjustment power of the miracle induces the right perception for healing.
Until level-adjustment and right perception have occurred, healing cannot be understood.
Forgiveness is an empty gesture unless forgiveness entails correction.
Without correction,  forgiveness is essentially judgmental, rather than healing.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
Right-mindedness forgives with correction and healing. 
Forgiving without correction is judgemental.
	</div>
</details>
{% endif %}

<p id="p16">
16. (6) Miracle-minded forgiveness is correction. 
²It has no element of judgment at all. 
³The statement “Father forgive them for they know not what they do” in no way evaluates what they do.
⁴It is an appeal to God to heal their minds. 
⁵There is no reference to the outcome of the error. 
⁶That does not matter. 
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
Miracle-minded forgiveness is correction. 
It [miracle-minded forgiveness] has no element of judgment at all. 
The statement “Father forgive them for they know not what they do” in no way evaluates what they do.
It [the statement] is an appeal to God to heal their minds. 
There is no reference to the outcome of the error. 
That [the outcome of the error] does not matter. 
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
Miracle-minded forgiveness is correction. 
Miracle-minded forgiveness has no element of judgment at all. 
The statement “Father forgive them for they know not what they do” in no way evaluates what they do.
The statement is an appeal to God to heal their minds. 
There is no reference to the outcome of the error. 
The outcome of the error does not matter. 
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
Miracles mindedness forgives regardless of consequences.
	</div>
</details>
{% endif %}

<p id="p17">
17. (7) The injunction “Be of one mind” is the statement for revelation-readiness.
²My request “Do this in remembrance of me” is the appeal for cooperation from miracle workers.
³The two statements are not in the same order of reality.
⁴Only the latter involves an awareness of time, since to remember is to recall the past in the present.
⁵Time is under my direction, but timelessness belongs to God.
⁶In time we exist for and with each other.
⁷In timelessness we coexist with God.
</p>

{% if showDetails %}
<details>
	<summary>Simplified</summary>
	<div>
Right-mindedness is in time. 
Right-mindedness is directed by Jesus. 
One-mindedness is timelessness. 
One-mindedness is directed by God. 
	</div>
</details>
{% endif %}

<p id="p18">
18. (8) You can do much on behalf of your own healing and that of others if, in a situation calling for help, you think of it this way:
</p>

<blockquote>
²I am here only to be truly helpful.<br>
³I am here to represent Him Who sent me.<br>
⁴I do not have to worry about what to say or what to do, because He Who sent me will direct me.<br>
⁵I am content to be wherever He wishes, knowing He goes there with me.<br>
⁶I will be healed as I let Him teach me to heal.
</blockquote>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		<p>
You can do much on behalf of your own healing and that of others if, in a situation calling for help, you think of it [the situation] this way:
	</p>
	<blockquote>
I am here only to be truly helpful.<br>
I am here to represent Him [God] Who sent me.<br>
I do not have to worry about what to say or what to do, because He [God] Who sent me will direct me.<br>
I am content to be wherever He [God] wishes, knowing He [God] goes there with me.<br>
I will be healed as I let Him [God] teach me to heal.
	</blockquote>
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
18. (8) You can do much on behalf of your own healing and that of others if, in a situation calling for help, you think of the situation this way:
	</p>
	<blockquote>
I am here only to be truly helpful.<br>
I am here to represent God Who sent me.<br>
I do not have to worry about what to say or what to do, because God Who sent me will direct me.<br>
I am content to be wherever God wishes, knowing God goes there with me.<br>
I will be healed as I let God teach me to heal.
	</blockquote>

	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
If a situation calls for help, think of the situation as God sending you. 
God will direct you what to do. 
God will teach you to heal. 
Be content. 
Be healed and heal others.
	</div>
</details>
{% endif %}