---
sitetitle: A Course in Miracles
title: Home
---
<html>

<head>
	<meta charset=utf-8>
	<meta name=viewport content="width=device-width, initial-scale=1.0">
	<title>{{ reference }} {{ title }} — {{ sitetitle }}</title>
{% set css %}
	{% include "new.css" %}
	{% include "theme.css" %}
{% endset %}
<style>{{ css | cssmin | safe }}</style>
<link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
<body>
	<header>
		<h1>{{ sitetitle | upper }}</h1>
		<nav>
			<ul>
				<li><a href="/text/">Text</a>
				<li><a href="/workbook/">Workbook</a>
				<li><a href="/manual/">Manual</a>
		</ul>
		</nav>
	</header>

<nav>
{{ breadcrumb | safe }}
</nav>

{{ content | safe }}

<p style=overflow:auto>
{% if prev %}<span>←{{prev | safe}}</span>{% endif %}
{% if next %}<span style=float:right>{{next | safe}}→</span>{% endif %}
</p>

<footer>© No claims made. No permissions sought or granted. </footer>