---
layout: mylayout.njk
---
<nav>
{% set navPages = collections.all | eleventyNavigationBreadcrumb(reference) %}
<ul>
{%- for entry in navPages %}
  <li>
    <a href="{{ entry.url | url }}">{{ entry.title }}</a>
{%- endfor %}
  <li>
    {{ title }}
</ul>
</nav>



<main>

<h2>{{ title | upper }}</h2>

<h3> Contents </h3>

{% set navPages = collections.all | eleventyNavigation(reference) %}
<ul>
{%- for entry in navPages %}
  <li><a href="{{ entry.url | url }}">{{ entry.title }}</a>
{%- endfor %}
</ul>

</main>