---
layout: content.njk
title: Principles of Miracles
reference: T-1.I
eleventyNavigation:
  key: T-1.I
  title: T-1.I Principles of Miracles
  parent: T-1
  order: 1
prev: T-in
next: T-1.II
---

<p id=p1>
1. There is no order of difficulty in miracles. 
²One is not <q>harder</q> or <q>bigger</q> than another. 
³They are all the same. 
⁴All expressions of love are maximal.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  There is no order of difficulty in miracles. 
  One miracle is not <q>harder</q> or <q>bigger</q> than another. 
  Miracles are all the same. 
  All expressions of love are maximal.
</details>
{% endif %}


<p id=p2>
2. Miracles as such do not matter. 
²The only thing that matters is their Source, which is far beyond evaluation.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  Miracles do not matter. 
  The only thing that matters miracles’ Source. 
  Miracles’ Source is far beyond evaluation.
</details>
{% endif %}


<p id=p3>
3. Miracles occur naturally as expressions of love. 
²The real miracle is the love that inspires them. 
³In this sense everything that comes from love is a miracle.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  Miracles occur naturally as expressions of love. 
  The real miracle is the love that inspires miracles. 
  Everything that comes from love is a miracle.
</details>
{% endif %}


<p id=p4>
4. All miracles mean life, and God is the Giver of life. 
²His Voice will direct you very specifically. 
³You will be told all you need to know.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  All miracles mean life. 
  God is the Giver of life
  God’s voice will direct you very specifically.
  God’s voice will tell you all you need to know.
</details>
{% endif %}


<p id=p5>
5. Miracles are habits, and should be involuntary. 
²They should not be under conscious control. 
³Consciously selected miracles can be misguided.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  Miracles are habits.
  Miracles should be involuntary. 
  Miracles should not be under conscious control. 
  Consciously selected miracles can be misguided.
</details>
{% endif %}


<p id=p6>
6. Miracles are natural. 
²When they do not occur something has gone wrong.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  Miracles are natural. 
  When miracles do not occur something has gone wrong.
</details>
{% endif %}


<p id=p7>
7. Miracles are everyone’s right, but purification is necessary first.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  Miracles are everyone’s right. 
  Purification is necessary before one can claim their right to miracles.
</details>
{% endif %}


<p id=p8>
  8. Miracles are healing because they supply a lack; they are performed by those who temporarily have more for those who temporarily have less.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  Miracles are healing because miracles supply a lack. 
  Miracles are performed by those who temporarily have more. 
  Miracles are preformed for those who temporarily have less.
</details>
{% endif %}


<p id=p9>
9. Miracles are a kind of exchange. 
²Like all expressions of love, which are always miraculous in the true sense, the exchange reverses the physical laws. 
³They bring more love both to the giver and the receiver.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  Miracles are an exchange. 
  A miracle is an expression of love. 
  All expressions of love are truly miraculous. 
  Miracles reverse the physical laws. 
  Miracles bring more love to the giver.
  Miracles bring more love to the receiver.
</details>
{% endif %}


<p id=p10>
10. The use of miracles as spectacles to induce belief is a misunderstanding of their purpose.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  The purpose of a miracle is not to induce belief. 
  Using a miracle to induce belief is misunderstanding.
</details>
{% endif %}


<p id=p11>
11. Prayer is the medium of miracles. 
²It is a means of communication of the created with the Creator. 
³Through prayer love is received, and through miracles love is expressed.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  Prayer is the medium of miracles. 
  Prayer is a means of communication of the created with the Creator. 
  Through prayer love is received. 
  Through miracles love is expressed.
</details>
{% endif %}


<p id=p12>
12. Miracles are thoughts. 
²Thoughts can represent the lower or bodily level of experience, or the higher or spiritual level of experience. 
³One makes the physical, and the other creates the spiritual.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  Miracles are thoughts. 
  Thoughts can represent the lower level of experience. 
  The lower level of experience makes the physical. 
  Thoughts can represent the higher level of experience. 
  The higher level of experience creates the spiritual. 
</details>
{% endif %}

<p id=p13>
13. Miracles are both beginnings and endings, and so they alter the temporal order. 
²They are always affirmations of rebirth, which seem to go back but really go forward. 
³They undo the past in the present, and thus release the future.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  Miracles are beginnings and endings. 
  Miracles alter the temporal order. 
  Miracles are always affirmations of rebirth. 
  Affirmations of rebirth seem to go back.
  Affirmations of rebirth really go forward. 
  Miracles undo the past in the present.
  Miracles release the future.
</details>
{% endif %}


<p id=p14>
14. Miracles bear witness to truth. 
²They are convincing because they arise from conviction. 
³Without conviction they deteriorate into magic, which is mindless and therefore destructive; or rather, the uncreative use of mind.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  Miracles bear witness to truth. 
  Miracles are convincing 
  Miracles arise from conviction. 
  Without conviction miracles deteriorate into magic. 
  Magic is mindless and therefore destructive.
  Magic is the the uncreative use of mind.
</details>
{% endif %}


<p id=p15>
15. Each day should be devoted to miracles. 
²The purpose of time is to enable you to learn how to use time constructively. 
³It is thus a teaching device and a means to an end. 
⁴Time will cease when it is no longer useful in facilitating learning.
</p>  

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  Each day should be devoted to miracles. 
  The purpose of time is to enable you to learn how to use time constructively. 
  Time is thus a teaching device. 
  Time is a means to an end. 
  Time will cease when time is no longer useful in facilitating learning.
</details>
{% endif %}


<p id=p16>
16. Miracles are teaching devices for demonstrating it is as blessed to give as to receive. 
²They simultaneously increase the strength of the giver and supply strength to the receiver.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  Miracles are teaching devices. 
  Miracles demonstrate it is as blessed to give as to receive. 
  Miracles increase the strength of the giver. 
  Miracles supply strength to the receiver.
</details>
{% endif %}


<p id=p17>
17. Miracles transcend the body. 
²They are sudden shifts into invisibility, away from the bodily level. 
³That is why they heal.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  Miracles transcend the body. 
  Miracles are sudden shifts into invisibility.
  Miracles shift away from the bodily level. 
  That is why miracles heal.
</details>
{% endif %}


<p id=p18>
18. A miracle is a service. 
²It is the maximal service you can render to another. 
³It is a way of loving your neighbour as yourself. 
⁴You recognise your own and your neighbour’s worth simultaneously.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  A miracle is a service. 
  A miracle is the maximal service you can render to another. 
  A miracle is a way of loving your neighbour as yourself. 
  You recognise your own and your neighbour’s worth simultaneously.
</details>
{% endif %}


<p id=p19>
19. Miracles make minds one in God. 
²They depend on coöperation because the Sonship is the sum of all that God created. 
³Miracles therefore reflect the laws of eternity, not of time.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  Miracles make minds one in God. 
  Miracles depend on coöperation. 
  The Sonship is the sum of all that God created. 
  Miracles reflect the laws of eternity. 
  Miracles do not reflect the laws of time. 
</details>
{% endif %}


<p id=p20>
20. Miracles reäwaken the awareness that the spirit, not the body, is the altar of truth. 
²This is the recognition that leads to the healing power of the miracle.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  Miracles reäwaken the awareness that the spirit is the altar of truth. 
  The body is not the altar of truth. 
  Recognising the altar of truth leads to the healing power of the miracle.  
</details>
{% endif %}


<p id=p21>
21. Miracles are natural signs of forgiveness. 
²Through miracles you accept God’s forgiveness by extending it to others.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  Miracles are natural signs of forgiveness. 
  Through miracles you accept God’s forgiveness.
  You extend God’s forgiveness to others.
</details>
{% endif %}

<p id=p22>
22. Miracles are associated with fear only because of the belief that darkness can hide. 
²You believe that what your physical eyes cannot see does not exist. 
³This leads to a denial of spiritual sight.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  Miracles are associated with fear only because of the belief that darkness can hide. 
  You believe that what your physical eyes cannot see does not exist. 
  Believing only what you see leads to a denial of spiritual sight.
</details>
{% endif %}


<p id=p23>
23. Miracles reärrange perception and place all levels in true perspective. 
²This is healing because sickness comes from confusing the levels.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  Miracles reärrange perception.
  Miracles place all levels in true perspective. 
  True perspective is healing. 
  Sickness comes from confusing the levels.
</details>
{% endif %}


<p id=p24>
24. Miracles enable you to heal the sick and raise the dead because you made sickness and death yourself, and can therefore abolish both. 
²<em>You</em> are a miracle, capable of creating in the likeness of your Creator. 
³Everything else is your own nightmare, and does not exist. 
⁴Only the creations of light are real.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  Miracles enable you to heal the sick and raise the dead.
  You made sickness and death yourself. 
  You can abolish sickness and death. 
  You are a miracle. 
  You are capable of creating in the likeness of your Creator. 
  Everything else is your own nightmare. 
  Anything else does does not exist. 
  Only the creations of light are real. 
</details>
{% endif %}


<p id=p25>
25. Miracles are part of an interlocking chain of forgiveness which, when completed, is the Atonement. 
²Atonement works all the time and in all the dimensions of time.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  Miracles are part of an interlocking chain of forgiveness.
  A completed interlocking chain of forgiveness is the Atonement. 
  Atonement works all the time. 
  Atonement works in all the dimensions of time.
</details>
{% endif %}


<p id=p26>
26. Miracles represent freedom from fear. 
²“Atoning” means “undoing”. 
³The undoing of fear is an essential part of the Atonement value of miracles.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  Miracles represent freedom from fear. 
“Atoning” means “undoing”. 
The undoing of fear is an essential part of the Atonement value of miracles.
</details>
{% endif %}


<p id=p27>
27. A miracle is a universal blessing from God through me to all my brothers. 
²It is the privilege of the forgiven to forgive.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  A miracle is a universal blessing from God.
  The blessing is through me to all my brothers. 
  It is the privilege of the forgiven to forgive.
</details>
{% endif %}


<p id=p28>
28. Miracles are a way of earning release from fear. 
²Revelation induces a state in which fear has already been abolished. 
³Miracles are thus a means and revelation is an end.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  Miracles are a way of earning release from fear. 
  Revelation induces a state in which fear has already been abolished. 
  Miracles are thus a means.
  Revelation is thus an end.
</details>
{% endif %}


<p id=p29>
29. Miracles praise God through you. 
²They praise Him by honouring His creations, affirming their perfection. 
³They heal because they deny body-identification and affirm spirit-identification.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  Miracles praise God through you. 
  Miracles praise God by honouring God’s creations
  Miracles affirm God’s creations’ perfection. 
  Miracles heal because they deny body-identification. 
  Miracles heal because they affirm spirit-identification.
</details>
{% endif %}


<p id=p30>
30. By recognising spirit, miracles adjust the levels of perception and show them in proper alignment. 
²This places spirit at the centre, where it can communicate directly.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  Miracles recognise spirit. 
  Miracles adjust the levels of perception.
  Miracles show the levels of perception in their proper alignment. 
  The proper alignment has spirit at the centre. 
  Spirit can communicate directly from the centre.
</details>
{% endif %}


<p>
31. Miracles should inspire gratitude, not awe. 
²You should thank God for what you really are. 
³The children of God are holy and the miracle honours their holiness, which can be hidden but never lost.

<p>
32. I inspire all miracles, which are really intercessions. 
²They intercede for your holiness and make your perceptions holy. 
³By placing you beyond the physical laws they raise you into the sphere of celestial order. 
⁴In this order you <em>are</em> perfect.

<p>
33. Miracles honour you because you are loveable. 
²They dispel illusions about yourself and perceive the light in you. 
³They thus atone for your errors by freeing you from your nightmares. 
⁴By releasing your mind from the imprisonment of your illusions, they restore your sanity.

<p>
34. Miracles restore the mind to its fullness. 
²By atoning for lack they establish perfect protection. 
³The spirit’s strength leaves no room for intrusions.

<p>
35. Miracles are expressions of love, but they may not always have observable effects.

<p>
36. Miracles are examples of right thinking, aligning your perceptions with truth as God created it.

<p>
37. A miracle is a correction introduced into false thinking by me. 
²It acts as a catalyst, breaking up erroneous perception and reörganising it properly. 
³This places you under the Atonement principle, where perception is healed. 
⁴Until this has occurred, knowledge of the Divine Order is impossible.

<p>
38. The Holy Spirit is the mechanism of miracles. 
²He recognises both God’s creations and your illusions. 
³He separates the true from the false by His ability to perceive totally rather than selectively.

<p>
39. The miracle dissolves error because the Holy Spirit identifies error as false or unreal. 
²This is the same as saying that by perceiving light, darkness automatically disappears.

<p>
40. The miracle acknowledges everyone as your brother and mine. 
²It is a way of perceiving the universal mark of God.

<p>
41. Wholeness is the perceptual content of miracles. 
²They thus correct, or atone for, the faulty perception of lack.

<p>
42. A major contribution of miracles is their strength in releasing you from your false sense of isolation, deprivation and lack.

<p>
43. Miracles arise from a miraculous state of mind, or a state of miracle-readiness.

<p>
44. The miracle is an expression of an inner awareness of Christ and the acceptance of His Atonement.

<p>
45. A miracle is never lost. 
²It may touch many people you have not even met, and produce undreamed of changes in situations of which you are not even aware.

<p>
46. The Holy Spirit is the highest communication medium. 
²Miracles do not involve this type of communication, because they are temporary communication devices. 
³When you return to your original form of communication with God by direct revelation, the need for miracles is over.

<p>
47. The miracle is a learning device that lessens the need for time. 
²It establishes an out-of-pattern time interval not under the usual laws of time. 
³In this sense it is timeless.

<p>
48. The miracle is the only device at your immediate disposal for controlling time. 
²Only revelation transcends it, having nothing to do with time at all.

<p>
49. The miracle makes no distinction among degrees of misperception. 
²It is a device for perception correction, effective quite apart from either the degree or the direction of the error. 
³This is its true indiscriminateness.

<p> 
50. The miracle compares what you have made with creation, accepting what is in accord with it as true, and rejecting what is out of accord as false.

