---
layout: content.njk
title: Principles of Miracles
reference: T-1.I
eleventyNavigation:
  key: T-1.I
  title: T-1.I Principles of Miracles
  parent: T-1
  order: 1
prev: T-in
next: T-1.II
---

<p id=p1>
	1. There is no order of difficulty in miracles.
	²One is not ‘harder’ or ‘bigger’ than another.
	³They are all the same.
	⁴All expressions of love are maximal.
</p>

{% if showDetails %}

<details>
	<summary>Expanded</summary>
	<div>
		There is no order of difficulty in miracles.
		²One [miracle] is not ‘harder’ or ‘bigger’ than another [miracle].
		³They [miracles] are all the same.
		⁴All expressions of love are maximal.
	</div>
</details>

<details>
	<summary>Substituted</summary>
	<div>
		There is no order of difficulty in miracles.
		²One miracle is not ‘harder’ or ‘bigger’ than another miracle.
		³Miracles are all the same.
		⁴All expressions of love are maximal.
	</div>
</details>

<details>
	<summary>Simplified</summary>
	<div>
		Each miracle expresses maximal love.
	</div>
</details>

{% endif %}


<p id=p2>
	2. Miracles as such do not matter.
	²The only thing that matters is their Source, which is far beyond evaluation.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Miracles as such do not matter.
		²The only thing that matters is their Source [the Source of miracles], which [the Source of miracles] is far beyond evaluation.
	</div>
</details>

<details>
	<summary>Substituted</summary>
	<div>
		Miracles as such do not matter.
		²The only thing that matters is miracles’ Source — the Source of miracles is far beyond evaluation.
	</div>
</details>

<details>
	<summary>Simplified</summary>
	<div>
		The Source of miracles is what matters.
		The Source of miracles is beyond evaluation.
	</div>
</details>
{% endif %}


<p id=p3>
	3. Miracles occur naturally as expressions of love.
	²The real miracle is the love that inspires them.
	³In this sense everything that comes from love is a miracle.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Miracles occur naturally as expressions of love.
		²The real miracle is the love that inspires them [miracles].
		³In this sense [love inspires miracles] everything that comes from love is a miracle.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Miracles occur naturally as expressions of love.
		²The real miracle is the love that inspires miracles.
		³In the sense of love inspiring miracles, everything that comes from love is a miracle.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		A miracle is love expressing itself.
	</div>
</details>
{% endif %}


<p id=p4>
	4. All miracles mean life, and God is the Giver of life.
	²His Voice will direct you very specifically.
	³You will be told all you need to know.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		All miracles mean life, and God is the Giver of life.
		²His [God’s] Voice will direct you very specifically.
		³You will be told all you need to know.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		All miracles mean life, and God is the Giver of life.
		²God’s Voice will direct you very specifically.
		³You will be told all you need to know.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		God is the giver of miracles and life.
		You can trust and rely on God’s voice.
	</div>
</details>
{% endif %}

<p id=p5>
	5. Miracles are habits, and should be involuntary.
	²They should not be under conscious control.
	³Consciously selected miracles can be misguided.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Miracles are habits, and should be involuntary.
		²They [miracles] should not be under conscious control.
		³Consciously selected miracles can be misguided.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Miracles are habits, and should be involuntary.
		²Miracles should not be under conscious control.
		³Consciously selected miracles can be misguided.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		Do not try to select for yourself a miracle .
	</div>
</details>
{% endif %}


<p id=p6>
	6. Miracles are natural.
	²When they do not occur something has gone wrong.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Miracles are natural.
		²When they [miracles] do not occur something has gone wrong.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Miracles are natural.
		²When miracles do not occur something has gone wrong.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		Miracles occur naturally when disposition is right.
	</div>
</details>
{% endif %}


<p id=p7>
	7. Miracles are everyone’s right, but purification is necessary first.

	{% if showDetails %}
<details>
	<summary>Simplified</summary>
	<div>
		Purification is necessary for you to claim your right to miracles.
	</div>
</details>
{% endif %}


<p id=p8>
	8. Miracles are healing because they supply a lack; they are performed by those who temporarily have more for those who temporarily have less.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Miracles are healing because they [miracles] supply a lack; they [miracles] are performed by those who temporarily have more for those who temporarily have less.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Miracles are healing because miracles supply a lack; miracles are performed by those who temporarily have more for those who temporarily have less.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		A temporary condition of lack is healed by a miracle.
	</div>
</details>
{% endif %}


<p id=p9>
	9. Miracles are a kind of exchange.
	²Like all expressions of love, which are always miraculous in the true sense, the exchange reverses the physical laws.
	³They bring more love both to the giver and the receiver.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Miracles are a kind of exchange.
		²Like all expressions of love, which [expressions of love] are always miraculous in the true sense, the exchange reverses the physical laws.
		³They [miracles] bring more love both to the giver and the receiver.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Miracles are a kind of exchange.
		²Like all expressions of love — expressions of love are always miraculous in the true sense — the exchange reverses the physical laws.
		³Miracles bring more love both to the giver and the receiver.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		The miracle is the kind of exchange where both giver and receiver end up with more.
	</div>
</details>
{% endif %}


<p id=p10>
	10. The use of miracles as spectacles to induce belief is a misunderstanding of their purpose.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		The use of miracles as spectacles to induce belief is a misunderstanding of their [miracles’] purpose.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		The use of miracles as spectacles to induce belief is a misunderstanding of miracles’ purpose.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		It is not the purpose of a miracle to induce belief.
	</div>
</details>
{% endif %}


<p id=p11>
	11. Prayer is the medium of miracles.
	²It is a means of communication of the created with the Creator.
	³Through prayer love is received, and through miracles love is expressed.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Prayer is the medium of miracles.
		²It [prayer] is a means of communication of the created with the Creator.
		³Through prayer love is received, and through miracles love is expressed.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Prayer is the medium of miracles.
		²Prayer is a means of communication of the created with the Creator.
		³Through prayer love is received, and through miracles love is expressed.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		God answers prayers with love.
		Love expresses by a miracle.
	</div>
</details>
{% endif %}

<p id=p12>
	12. Miracles are thoughts.
	²Thoughts can represent the lower or bodily level of experience, or the higher or spiritual level of experience.
	³One makes the physical, and the other creates the spiritual.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Miracles are thoughts.
		²Thoughts can represent the lower or bodily level of experience, or the higher or spiritual level of experience.
		³One [the lower or bodily level of experience] makes the physical, and the other [the higher or spiritual level of experience] creates the spiritual.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Miracles are thoughts.
		²Thoughts can represent the lower or bodily level of experience, or the higher or spiritual level of experience.
		³The lower or bodily level of experience makes the physical, and the higher or spiritual level of experience creates the spiritual.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		Thoughts make experience.
		Miracles are higher thoughts that make a spiritual experience.
	</div>
</details>
{% endif %}

<p id=p13>
	13. Miracles are both beginnings and endings, and so they alter the temporal order.
	²They are always affirmations of rebirth, which seem to go back but really go forward.
	³They undo the past in the present, and thus release the future.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Miracles are both beginnings and endings, and so they [miracles] alter the temporal order.
		²They [miracles] are always affirmations of rebirth, which [affirmations of rebirth] seem to go back but really go forward.
		³They [miracles] undo the past in the present, and thus release the future.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Miracles are both beginnings and endings, and so they [miracles] alter the temporal order.
		²Miracles are always affirmations of rebirth — affirmations of rebirth seem to go back but really go forward.
		³Miracles undo the past in the present, and thus release the future.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		Miracles undo birth and thus create a new future.
	</div>
</details>
{% endif %}


<p id=p14>
	14. Miracles bear witness to truth.
	²They are convincing because they arise from conviction.
	³Without conviction they deteriorate into magic, which is mindless and therefore destructive; or rather, the uncreative use of mind.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Miracles bear witness to truth.
		²They [miracles] are convincing because they [miracles] arise from conviction.
		³Without conviction they [miracles] deteriorate into magic, which [magic] is mindless and therefore destructive; or rather, the uncreative use of mind.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Miracles bear witness to truth.
		²Miracles are convincing because miracles arise from conviction.
		³Without conviction miracles deteriorate into magic — magic is mindless and therefore destructive; or rather, the uncreative use of mind.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		Without the conviction of the truth, miracles are merely magic.
	</div>
</details>
{% endif %}


<p id=p15>
	15. Each day should be devoted to miracles.
	²The purpose of time is to enable you to learn how to use time constructively.
	³It is thus a teaching device and a means to an end.
	⁴Time will cease when it is no longer useful in facilitating learning.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Each day should be devoted to miracles.
		²The purpose of time is to enable you to learn how to use time constructively.
		³It [time] is thus a teaching device and a means to an end.
		⁴Time will cease when it [time] is no longer useful in facilitating learning.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Each day should be devoted to miracles.
		²The purpose of time is to enable you to learn how to use time constructively.
		³Time is thus a teaching device and a means to an end.
		⁴Time will cease when time is no longer useful in facilitating learning.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		Use time for learning. Time will ceas when it is no longer needed.
	</div>
</details>
{% endif %}


<p id=p16>
	16. Miracles are teaching devices for demonstrating it is as blessed to give as to receive.
	²They simultaneously increase the strength of the giver and supply strength to the receiver.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Miracles are teaching devices for demonstrating it is as blessed to give as to receive.
		²They [miracles] simultaneously increase the strength of the giver and supply strength to the receiver.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Miracles are teaching devices for demonstrating it is as blessed to give as to receive.
		²Miracles simultaneously increase the strength of the giver and supply strength to the receiver.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		Miracles teach it is blessed to give.
		Miracles result in more strength for giver and receiver.
	</div>
</details>
{% endif %}


<p id=p17>
	17. Miracles transcend the body.
	²They are sudden shifts into invisibility, away from the bodily level.
	³That is why they heal.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Miracles transcend the body.
		²They [miracles] are sudden shifts into invisibility, away from the bodily level.
		³That is why they [miracles] heal.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Miracles transcend the body.
		²Miracles are sudden shifts into invisibility, away from the bodily level.
		³That is why miracles heal.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		Miracles heal by shifting awareness out of the body.
	</div>
</details>
{% endif %}


<p id=p18>
	18. A miracle is a service.
	²It is the maximal service you can render to another.
	³It is a way of loving your neighbor as yourself.
	⁴You recognize your own and your neighbor’s worth simultaneously.
</p>


{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		A miracle is a service.
		²It [a miracle] is the maximal service you can render to another.
		³It [a miracle] is a way of loving your neighbor as yourself.
		⁴You recognize your own and your neighbour’s worth simultaneously.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		A miracle is a service.
		²A miracle is the maximal service you can render to another.
		³A miracle is a way of loving your neighbor as yourself.
		⁴You recognize your own and your neighbour’s worth simultaneously.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		Loving your neighbor renders maximal service to them.
	</div>
</details>
{% endif %}

<p id=p19>
	19. Miracles make minds one in God.
	²They depend on cooperation because the Sonship is the sum of all that God created.
	³Miracles therefore reflect the laws of eternity, not of time.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Miracles make minds one in God.
		²They [miracles] depend on cooperation because the Sonship is the sum of all that God created.
		³Miracles therefore reflect the laws of eternity, not [the laws of] of time.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Miracles make minds one in God.
		²Miracles depend on cooperation because the Sonship is the sum of all that God created.
		³Miracles therefore reflect the laws of eternity, not the laws of of time.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		Miracles are coöperations between all minds in the Sonship.
	</div>
</details>
{% endif %}


<p id=p20>
	20. Miracles reawaken the awareness that the spirit, not the body, is the altar of truth.
	²This is the recognition that leads to the healing power of the miracle.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Miracles reawaken the awareness that the spirit, not the body, is the altar of truth.
		²This [the awareness that the spirit is the altar of truth] is the recognition that leads to the healing power of the miracle.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Miracles reawaken the awareness that the spirit, not the body, is the altar of truth.
		²The awareness that the spirit is the altar of truth is the recognition that leads to the healing power of the miracle.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		Miracles heal by creating awareness of the spirit as the altar of truth.
	</div>
</details>
{% endif %}


<p id=p21>
	21. Miracles are natural signs of forgiveness.
	²Through miracles you accept God’s forgiveness by extending it to others.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Miracles are natural signs of forgiveness.
		²Through miracles you accept God’s forgiveness by extending it [God’s forgiveness] to others.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Miracles are natural signs of forgiveness.
		²Through miracles you accept God’s forgiveness by extending God’s forgiveness to others.

	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		Through a miracle you accept God’s forgiveness.
		Through a miracle you extend God’s forgiveness to others.
	</div>
</details>
{% endif %}


<p id=p22>
	22. Miracles are associated with fear only because of the belief that darkness can hide.
	²You believe that what your physical eyes cannot see does not exist.
	³This leads to a denial of spiritual sight.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Miracles are associated with fear only because of the belief that darkness can hide.
		²You believe that what your physical eyes cannot see does not exist.
		³This [believing that what your physical eyes cannot see does not exist] leads to a denial of spiritual sight.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Miracles are associated with fear only because of the belief that darkness can hide.
		²You believe that what your physical eyes cannot see does not exist.
		³Believing that what your physical eyes cannot see does not exist leads to a denial of spiritual sight.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		Spiritual sight sees everything everywhere in light, leaving no darkness.
	</div>
</details>
{% endif %}


<p id=p23>
	23. Miracles rearrange perception and place all levels in true perspective.
	²This is healing because sickness comes from confusing the levels.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Miracles rearrange perception and place all levels in true perspective.
		²This [placing all levels in true perspective] is healing because sickness comes from confusing the levels.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Miracles rearrange perception and place all levels in true perspective.
		²Placing all levels in true perspective is healing because sickness comes from confusing the levels.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		Miracles heal the sickness that results from confusing levels.
	</div>
</details>
{% endif %}


<p id=p24>
	24. Miracles enable you to heal the sick and raise the dead because you made sickness and death yourself, and can therefore abolish both.
	²<em>You</em> are a miracle, capable of creating in the likeness of your Creator.
	³Everything else is your own nightmare, and does not exist.
	⁴Only the creations of light are real.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Miracles enable you to heal the sick and raise the dead because you made sickness and death yourself, and can therefore abolish both [sickness and death].
		²<em>You</em> are a miracle, capable of creating in the likeness of your Creator.
		³Everything else is your own nightmare, and does not exist.
		⁴Only the creations of light are real.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Miracles enable you to heal the sick and raise the dead because you made sickness and death yourself, and can therefore abolish sickness and death.
		²<em>You</em> are a miracle, capable of creating in the likeness of your Creator.
		³Everything else is your own nightmare, and does not exist.
		⁴Only the creations of light are real.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		That which is not created in the likeness of God does not exist.
	</div>
</details>
{% endif %}


<p id=p25>
	25. Miracles are part of an interlocking chain of forgiveness which, when completed, is the Atonement.
	²Atonement works all the time and in all the dimensions of time.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Miracles are part of an interlocking chain of forgiveness which [a chain of forgiveness], when completed, is the Atonement.
		²Atonement works all the time and in all the dimensions of time.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Miracles are part of an interlocking chain of forgiveness — a completed interlocking chain of forgiveness is the Atonement.
		²Atonement works all the time and in all the dimensions of time.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		The Atonement is a completed interlocking chain of forgiveness.
		All time is working for the Atonement.
	</div>
</details>
{% endif %}

<p id=p26>
	26. Miracles represent freedom from fear.
	²‘Atoning’ means ‘undoing’.
	³The undoing of fear is an essential part of the Atonement value of miracles.
</p>

{% if showDetails %}
<details>
	<summary>Simplified</summary>
	<div>
		Miracles undo fear. Undoing fear brings about forgiveness and the Atonement.
	</div>
</details>
{% endif %}

<p id=p27>
	27. A miracle is a universal blessing from God through me to all my brothers.
	²It is the privilege of the forgiven to forgive.
</p>

{% if showDetails %}
<details>
	<summary>Simplified</summary>
	<div>
		God blesses all brothers through me.
	</div>
</details>
{% endif %}


<p id=p28>
	28. Miracles are a way of earning release from fear.
	²Revelation induces a state in which fear has already been abolished.
	³Miracles are thus a means and revelation is an end.
</p>

{% if showDetails %}
<details>
	<summary>Simplified</summary>
	<div>
		²Revelation releases all fear at once.
		³Miracles work towards release from all fear.
	</div>
</details>
{% endif %}


<p id=p29>
	29. Miracles praise God through you.
	²They praise Him by honoring His creations, affirming their perfection.
	³They heal because they deny body-identification and affirm spirit-identification.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Miracles praise God through you.
		²They [miracles] praise Him [God] by honoring His [God’s] creations, affirming their [God’s-creations’] perfection.
		³They [miracles] heal because they [miracles] deny body-identification and affirm spirit-identification.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Miracles praise God through you.
		²Miracles praise God by honoring God’s creations, affirming God’s-creations’ perfection.
		³Miracles heal because miracles deny body-identification and affirm spirit-identification.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		God’s creations are perfect.
		Miracles heal by affirming identification with spirit.
	</div>
</details>
<details>
	<summary>Note</summary>
	<div>
		God creates like Himself, the perfect spiritual.
		The apparent physical is created by the Sonship.
		Miracles affirm identification with what God created.
		Healing results from denying identification with the body. (–Ed.)
	</div>
</details>
{% endif %}


<p id=p30>
	30. By recognising spirit, miracles adjust the levels of perception and show them in proper alignment.
	²This places spirit at the center, where it can communicate directly.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		By recognising spirit, miracles adjust the levels of perception and show them [the levels of perception] in proper alignment.
		²This [levels of perception in proper alignment] places spirit at the center, where it [spirit] can communicate directly.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		By recognising spirit, miracles adjust the levels of perception and show the levels of perception in proper alignment.
		²Levels of perception in proper alignment places spirit at the center, where spirit can communicate directly.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		Miracles properly align the levels of perception.
		Spirit communicates with all levels of perception, but the levels must be aligned properly.
	</div>
</details>
{% endif %}


<p id=p31>
	31. Miracles should inspire gratitude, not awe.
	²You should thank God for what you really are.
	³The children of God are holy and the miracle honors their holiness, which can be hidden but never lost.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Miracles should inspire gratitude, not awe.
		²You should thank God for what you really are.
		³The children of God are holy and the miracle honors their [the-children-of-God’s] holiness, which
		[the-children-of-God’s-holiness] can be hidden but never lost.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Miracles should inspire gratitude, not awe.
		²You should thank God for what you really are.
		³The children of God are holy and the miracle honors the-children-of-God’s holiness — the-children-of-God’s-holiness can be hidden but never lost.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		The children of God are always holy.
		Your holiness is a cause for gratitude.
	</div>
</details>
{% endif %}

<p id=p32>
	32. I inspire all miracles, which are really intercessions.
	²They intercede for your holiness and make your perceptions holy.
	³By placing you beyond the physical laws they raise you into the sphere of celestial order.
	⁴In this order you <em>are</em> perfect.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		I inspire all miracles, which [miracles] are really intercessions.
		²They [miracles] intercede for your holiness and make your perceptions holy.
		³By placing you beyond the physical laws they [miracles] raise you into the sphere of celestial order.
		⁴In this [the celestial] order you <em>are</em> perfect.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		I inspire all miracles — miracles are really intercessions.
		²Miracles intercede for your holiness and make your perceptions holy.
		³By placing you beyond the physical laws miracles raise you into the sphere of celestial order.
		⁴In the celestial order you <em>are</em> perfect.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		Miracles raise you to awareness of your perfect holiness.
	</div>
</details>
{% endif %}

<p id=p33>
	33. Miracles honor you because you are loveable.
	²They dispel illusions about yourself and perceive the light in you.
	³They thus atone for your errors by freeing you from your nightmares.
	⁴By releasing your mind from the imprisonment of your illusions, they restore your sanity.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Miracles honor you because you are loveable.
		²They [miracles] dispel illusions about yourself and perceive the light in you.
		³They [miracles] thus atone for your errors by freeing you from your nightmares.
		⁴By releasing your mind from the imprisonment of your illusions, they [miracles] restore your sanity.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Miracles honor you because you are loveable.
		²Miracles dispel illusions about yourself and perceive the light in you.
		³Miracles thus atone for your errors by freeing you from your nightmares.
		⁴By releasing your mind from the imprisonment of your illusions, miracles restore your sanity.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		Miracles show you the truth about yourself.
		Miracles free you from illusions and dreams.
	</div>
</details>
{% endif %}

<p id=p34>
	34. Miracles restore the mind to its fullness.
	²By atoning for lack they establish perfect protection.
	³The spirit’s strength leaves no room for intrusions.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Miracles restore the mind to its [the-mind’s] fullness.
		²By atoning for lack they [miracles] establish perfect protection.
		³The spirit’s strength leaves no room for intrusions.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Miracles restore the mind to the-mind’s fullness.
		²By atoning for lack miracles establish perfect protection.
		³The spirit’s strength leaves no room for intrusions.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		Miracles atone for lack in the mind.
		Miracles restore fullness to the mind, where none can intrude.
	</div>
</details>
{% endif %}


<p id=p35>
	35. Miracles are expressions of love, but they may not always have observable effects.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Miracles are expressions of love, but they [miracles] may not always have observable effects.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Miracles are expressions of love, but miracles may not always have observable effects.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		The effects of an expression of love can’t always be seen.
	</div>
</details>
{% endif %}

<p id=p36>
	36. Miracles are examples of right thinking, aligning your perceptions with truth as God created it.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Miracles are examples of right thinking, aligning your perceptions with truth as God created it [truth].
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Miracles are examples of right thinking, aligning your perceptions with truth as God created truth.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		Miracles align your perception with God’s truth.
	</div>
</details>
{% endif %}

<p id=p37>
	37. A miracle is a correction introduced into false thinking by me.
	²It acts as a catalyst, breaking up erroneous perception and reorganising it properly.
	³This places you under the Atonement principle, where perception is healed.
	⁴Until this has occurred, knowledge of the Divine Order is impossible.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		A miracle is a correction introduced into false thinking by me.
		²It [a miracle] acts as a catalyst, breaking up erroneous perception and reorganising it [erroneous perception]
		properly.
		³This [reörganising erroneous perception] places you under the Atonement principle, where perception is healed.
		⁴Until this has occurred [perception has healed], knowledge of the Divine Order is impossible.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		A miracle is a correction introduced into false thinking by me.
		²A miracle acts as a catalyst, breaking up erroneous perception and reorganising erroneous perception properly.
		³Reörganising erroneous perception places you under the Atonement principle, where perception is healed.
		⁴Until perception has healed, knowledge of the Divine Order is impossible.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		You can’t know God until your perception is healed.
		Perception is healed by correct thinking.
		Miracles correct false thinking.
	</div>
</details>
{% endif %}

<p id=p38>
	38. The Holy Spirit is the mechanism of miracles.
	²He recognizes both God’s creations and your illusions.
	³He separates the true from the false by His ability to perceive totally rather than selectively.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		The Holy Spirit is the mechanism of miracles.
		²He [the Holy Spirit] recognizes both God’s creations and your illusions.
		³He [the Holy Spirit] separates the true from the false by His [the-Holy-Spirit’s] ability to perceive totally rather than selectively.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		The Holy Spirit is the mechanism of miracles.
		²The Holy Spirit recognizes both God’s creations and your illusions.
		³The Holy Spirit separates the true from the false by the-Holy-Spirit’s ability to perceive totally rather than selectively.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		The Holy Spirit sees God’s creations and your illusions.
		By seeing totally, the Holy Spirit can direct miracles.
	</div>
</details>
{% endif %}

<p id=p39>
	39. The miracle dissolves error because the Holy Spirit identifies error as false or unreal.
	²This is the same as saying that by perceiving light, darkness automatically disappears.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		The miracle dissolves error because the Holy Spirit identifies error as false or unreal.
		²This [saying identified errors dissolve] is the same as saying that by perceiving light, darkness automatically disappears.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		The miracle dissolves error because the Holy Spirit identifies error as false or unreal.
		²Saying identified errors dissolve is the same as saying that by perceiving light, darkness automatically disappears.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		Errors disappear in Truth, as darkness disappears in light.
	</div>
</details>
{% endif %}

<p id=p40>
	40. The miracle acknowledges everyone as your brother and mine.
	²It is a way of perceiving the universal mark of God.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		The miracle acknowledges everyone as your brother and mine [my brother].
		²It [the miracle] is a way of perceiving the universal mark of God.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		The miracle acknowledges everyone as your brother and my brother.
		²The miracle is a way of perceiving the universal mark of God.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		Miracles show us that we are all brothers.
	</div>
</details>
{% endif %}

<p id=p41>
	41. Wholeness is the perceptual content of miracles.
	²They thus correct, or atone for, the faulty perception of lack.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Wholeness is the perceptual content of miracles.
		²They [miracles] thus correct, or atone for, the faulty perception of lack.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Wholeness is the perceptual content of miracles.
		²Miracles thus correct, or atone for, the faulty perception of lack.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		You think you see lack, but miracles show you wholeness.
	</div>
</details>
{% endif %}

<p id=p42>
	42. A major contribution of miracles is their strength in releasing you from your false sense of isolation,
	deprivation and lack.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		A major contribution of miracles is their [miracles’] strength in releasing you from your false sense of isolation,
		deprivation and lack.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		A major contribution of miracles is miracles’ strength in releasing you from your false sense of isolation,
		deprivation and lack.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		Miracles release you from your false sense of isolation, deprivation and lack.
	</div>
</details>
{% endif %}

<p id=p43>
	43. Miracles arise from a miraculous state of mind, or a state of miracle-readiness.
</p>

{% if showDetails %}
<details>
	<summary>Simplified</summary>
	<div>
		Your mind needs to be disposed to miracles.
	</div>
</details>
{% endif %}

<p id=p44>
	44. The miracle is an expression of an inner awareness of Christ and the acceptance of His Atonement.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		The miracle is an expression of an inner awareness of Christ and the acceptance of His [Christ’s] Atonement.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		The miracle is an expression of an inner awareness of Christ and the acceptance of Christ’s Atonement.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		The miracle is an expression of an inner awareness of Christ
		The miracle is an expression of the acceptance of Christ’s Atonement.
	</div>
</details>
{% endif %}

<p id=p45>
	45. A miracle is never lost.
	²It may touch many people you have not even met, and produce undreamed of changes in situations of which you are not even aware.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		A miracle is never lost.
		²It [a miracle] may touch many people you have not even met, and produce undreamed of changes in situations of which
		[situations] you are not even aware.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		A miracle is never lost.
		²A miracles may touch many people you have not even met, and produce undreamed of changes in situations — of
		situations you are not even aware.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		You never know what are all the effects of a miracle.
	</div>
</details>
{% endif %}

<p id=p46>
	46. The Holy Spirit is the highest communication medium.
	²Miracles do not involve this type of communication, because they are temporary communication devices.
	³When you return to your original form of communication with God by direct revelation, the need for miracles is over.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		The Holy Spirit is the highest communication medium.
		²Miracles do not involve this [the highest] type of communication, because they [miracles] are temporary
		communication devices.
		³When you return to your original form of communication with God by direct revelation, the need for miracles is
		over.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		The Holy Spirit is the highest communication medium.
		²Miracles do not involve the highest type of communication, because miracles are temporary communication devices.
		³When you return to your original form of communication with God by direct revelation, the need for miracles is
		over.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		For now you need the Holy Spirit to communicate with God. But miracles will eventually restore direct communication
		with God.
	</div>
</details>
{% endif %}

<p id=p47>
	47. The miracle is a learning device that lessens the need for time.
	²It establishes an out-of-pattern time interval not under the usual laws of time.
	³In this sense it is timeless.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		The miracle is a learning device that lessens the need for time.
		²It [the miracle] establishes an out-of-pattern time interval not under the usual laws of time.
		³In this sense it [the miracle] is timeless.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		The miracle is a learning device that lessens the need for time.
		²The miracle establishes an out-of-pattern time interval not under the usual laws of time.
		³In this sense the miracle is timeless.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		Learning takes time.
		What is learnt from a miracle saves an unknown amount of time.
		(A single miracle can produce any amount of learning, –Ed.)
	</div>
</details>
{% endif %}

<p id=p48>
	48. The miracle is the only device at your immediate disposal for controlling time.
	²Only revelation transcends it, having nothing to do with time at all.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		The miracle is the only device at your immediate disposal for controlling time.
		²Only revelation transcends it [the miracle], [revelation] having nothing to do with time at all.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		The miracle is the only device at your immediate disposal for controlling time.
		²Only revelation transcends the miracle; revelation has nothing to do with time at all.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		With a miracle you can shorten time.
	</div>
</details>
{% endif %}

<p id=p49>
	49. The miracle makes no distinction among degrees of misperception.
	²It is a device for perception correction, effective quite apart from either the degree or the direction of the error.
	³This is its true indiscriminateness.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		The miracle makes no distinction among degrees of misperception.
		²It [the miracle] is a device for perception correction, effective quite apart from either the degree or the
		direction of the error.
		³This [a miracle’s effectiveness apart from degree or direction of error] is its [a miracle’s] true
		indiscriminateness.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		The miracle makes no distinction among degrees of misperception.
		²The miracle is a device for perception correction, effective quite apart from either the degree or the direction of
		the error.
		³A miracle’s effectiveness apart from degree or direction of error, is a miracle’s true indiscriminateness.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		Any miracle can apply to any error.
	</div>
</details>
{% endif %}

<p id=p50>
	50. The miracle compares what you have made with creation, accepting what is in accord with it as true, and rejecting what is out of accord as false.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		The miracle compares what you have made with creation, accepting what is in accord with it [creation] as true, and
		rejecting what is out of accord as false.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		The miracle compares what you have made with creation, accepting what is in accord with creation as true, and
		rejecting what is out of accord as false.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		What is true is what is in accord with creation. Miracles reject the false.
	</div>
</details>
{% endif %}