---
layout: content.njk
title: The Illusion of Needs
reference: T-1.VI
eleventyNavigation:
  key: T-1.VI
  title: T-1.VI The Illusion of Needs
  parent: T-1
  order: 6
prev: T-1.V
next: T-1.VII
---

<p>
	1. You who want peace can find it only by complete forgiveness.
	²No learning is acquired by anyone unless he wants to learn it and believes in some way that he needs it.
	³While lack does not exist in the creation of God, it is very apparent in what you have made.
	⁴It is, in fact, the essential difference between them.
	⁵Lack implies that you would be better off in a state somehow different from the one you are in.
	⁶Until the ‘separation’, which is the meaning of the ‘fall’, nothing was lacking.
	⁷There were no needs at all.
	⁸Needs arise only when you deprive yourself.
	⁹You act according to the particular order of needs you establish.
	¹⁰This, in turn, depends on your perception of what you are.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		You who want peace can find it [peace] only by complete forgiveness.
		²No learning is acquired by anyone unless he wants to learn it and believes in some way that he needs it [learning].
		³While lack does not exist in the creation of God, it [lack] is very apparent in what you have made.
		⁴It [lack] is, in fact, the essential difference between them [the creation of God and what you have made].
		⁵Lack implies that you would be better off in a state somehow different from the one [state] you are in.
		⁶Until the ‘separation’, which is the meaning of the ‘fall’, nothing was lacking.
		⁷There were no needs at all.
		⁸Needs arise only when you deprive yourself.
		⁹You act according to the particular order of needs you establish.
		¹⁰This [the needs you establish], in turn, depends on your perception of what you are.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		You who want peace can find peace only by complete forgiveness.
		²No learning is acquired by anyone unless he wants to learn it and believes in some way that he needs learning.
		³While lack does not exist in the creation of God, lack is very apparent in what you have made.
		⁴Lack is, in fact, the essential difference between the creation of God and what you have made.
		⁵Lack implies that you would be better off in a state somehow different from the state you are in.
		⁶Until the ‘separation’, which is the meaning of the ‘fall’, nothing was lacking.
		⁷There were no needs at all.
		⁸Needs arise only when you deprive yourself.
		⁹You act according to the particular order of needs you establish.
		¹⁰The needs you establish, in turn, depends on your perception of what you are.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		God’s creations have no lack.
		You deprived yourself by separating from God.
		Forgive yourself and see yourself truly.
	</div>
</details>
{% endif %}

<p>
	2. A sense of separation from God is the only lack you really need correct.
	²This sense of separation would never have arisen if you had not distorted your perception of truth, and had thus perceived yourself as lacking.
	³The idea of order of needs arose because, having made this fundamental error, you had already fragmented yourself into levels with different needs.
	⁴As you integrate you become one, and your needs become one accordingly.
	⁵Unified needs lead to unified action, because this produces a lack of conflict.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		A sense of separation from God is the only lack you really need correct.
		²This sense of separation [from God] would never have arisen if you had not distorted your perception of truth, and had thus perceived yourself as lacking.
		³The idea of order of needs arose because, having made this fundamental error [perceiving yourself lacking], you had already fragmented yourself into levels with different needs.
		⁴As you integrate you become one, and your needs become one accordingly.
		⁵Unified needs lead to unified action, because this [unified needs] produces a lack of conflict.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		A sense of separation from God is the only lack you really need correct.
		²A sense of separation from God would never have arisen if you had not distorted your perception of truth, and had thus perceived yourself as lacking.
		³The idea of order of needs arose because, having made the fundamental error of perceiving yourself lacking, you had already fragmented yourself into levels with different needs.
		⁴As you integrate you become one, and your needs become one accordingly.
		⁵Unified needs lead to unified action, because unified needs produce a lack of conflict.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		<p>
			You perceived yourself as lacking.
			You felt separated from God.
			You became fragmented by believing in different needs.
			Act only to restore oneness with God. God is all you need.
		</p>
		<p>[You only need God, but the moment you see yourself as lacking something, lacking *anything*, a sense of separation from God is introduced. This is the error to be undone. —Ed.]
		</p>
	</div>
</details>
{% endif %}

<p>
	3. The idea of orders of need, which follows from the original error that one can be separated from God, requires correction at its own level before the error of perceiving levels at all can be corrected.
	²You cannot behave effectively while you function on different levels.
	³However, while you do, correction must be introduced vertically from the bottom up.
	⁴This is because you think you live in space, where concepts such as ‘up’ and ‘down’ are meaningful. ⁵Ultimately, space is as meaningless as time. ⁶Both are merely beliefs.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		The idea of orders of need, which follows from the original error that one can be separated from God, requires correction at its [the-idea-of-orders-of-need’s] own level before the error of perceiving levels at all can be corrected.
		²You cannot behave effectively while you function on different levels.
		³However, while you do, correction must be introduced vertically from the bottom up.
		⁴This is because you think you live in space, where concepts such as ‘up’ and ‘down’ are meaningful.
		⁵Ultimately, space is as meaningless as time.
		⁶Both [space and time] are merely beliefs.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		The idea of orders of need, which follows from the original error that one can be separated from God, requires correction at the-idea-of-orders-of-need’s own level before the error of perceiving levels at all can be corrected.
		²You cannot behave effectively while you function on different levels.
		³However, while you do, correction must be introduced vertically from the bottom up.
		⁴This is because you think you live in space, where concepts such as ‘up’ and ‘down’ are meaningful.
		⁵Ultimately, space is as meaningless as time.
		⁶Both [space and time] are merely beliefs.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		You believe you need something in the world of space and time.
		This belief must be corrected in the world of space and time.
		Then you can correct the error of separation.
	</div>
</details>
{% endif %}

<p>
	4. The real purpose of this world is to use it to correct your unbelief.
	²You can never control the effects of fear yourself, because you made fear, and you believe in what you made.
	³In attitude, then, though not in content, you resemble your Creator, Who has perfect faith in His creations <em>because</em> He created them.
	⁴Belief produces the acceptance of existence.
	⁵That is why you can believe what no one else thinks is true.
	⁶It is true for you because it was made by you.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		The real purpose of this world is to use it [this world] to correct your unbelief.
		²You can never control the effects of fear yourself, because you made fear, and you believe in what you made.
		³In attitude, then, though not in content, you resemble your Creator, Who [your Creator] has perfect faith in His [your-Creator’s] creations <em>because</em> He [your Creator] created them [your-Creator’s-creations].
		⁴Belief produces the acceptance of existence.
		⁵That [having faith in what you made] is why you can believe what no one else thinks is true.
		⁶[What you made] is true for you because it was made by you.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		The real purpose of this world is to use this world to correct your unbelief.
		²You can never control the effects of fear yourself, because you made fear, and you believe in what you made.
		³In attitude, then, though not in content, you resemble your Creator, your Creator has perfect faith in your-Creator’s creations <em>because</em> your-Creator created your-Creator’s-creations.
		⁴Belief produces the acceptance of existence.
		⁵Having faith in what you made is why you can believe what no one else thinks is true.
		⁶What you made is true for you because it was made by you.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		God believes in God’s creations.
		You believe in what you made.
		You made this world of fear.
		You can correct the world you made.
	</div>
</details>
{% endif %}


<p>
	5. All aspects of fear are untrue because they do not exist at the creative level, and therefore do not exist at all.
	²To whatever extent you are willing to submit your beliefs to this test, to that extent are your perceptions corrected.
	³In sorting out the false from the true, the miracle proceeds along these lines:
</p>

<blockquote>
	Perfect love casts out fear.<br>
	²If fear exists,<br>
	³Then there is not perfect love.
</blockquote>

<p>
	⁴But:
</p>

<blockquote>
	Only perfect love exists.<br>
	⁵If there is fear,<br>
	⁶It produces a state that does not exist.
</blockquote>

<p>
	⁷Believe this and you will be free.
	⁸Only God can establish this solution, and this faith <em>is</em> His gift.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		<p>
			All aspects of fear are untrue because they [aspects of fear] do not exist at the creative level, and therefore do not exist at all.
			²To whatever extent you are willing to submit your beliefs to this test [whether aspects of fear exist at the creative level], to that extent are your perceptions corrected.
			³In sorting out the false from the true, the miracle proceeds along these lines:
		</p>

		<blockquote>
			Perfect love casts out fear.<br>
			²If fear exists,<br>
			³Then there is not perfect love.
		</blockquote>

		<p>
			⁴But:
		</p>

		<blockquote>
			Only perfect love exists.<br>
			⁵If there is fear,<br>
			⁶It [fear] produces a state that does not exist.
		</blockquote>

		<p>
			⁷Believe this [only perfect love exists] and you will be free.
			⁸Only God can establish this solution [perfect love], and this faith [in God’s perfect love] <em>is</em> His [God’s] gift.
		</p>
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		All aspects of fear are untrue because aspects of fear do not exist at the creative level, and therefore do not exist at all.
		²To whatever extent you are willing to submit your beliefs to the test of whether aspects of fear exist at the creative level, to that extent are your perceptions corrected.
		³In sorting out the false from the true, the miracle proceeds along these lines:
		</p>

		<blockquote>
			Perfect love casts out fear.<br>
			²If fear exists,<br>
			³Then there is not perfect love.
		</blockquote>

		<p>
			⁴But:
		</p>

		<blockquote>
			Only perfect love exists.<br>
			⁵If there is fear,<br>
			⁶Fear produces a state that does not exist.
		</blockquote>

		<p>
			⁷Believe only perfect love exists and you will be free.
			⁸Only God can establish the solution of perfect love, and faith in God’s perfect love <em>is</em> God’s gift.
		</p>
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		There never could be any fear.
		God only creates love.
		The miracle recognises that only God’s perfect love exists.
	</div>
</details>
{% endif %}