body {
  font-family: Verdana, sans-serif;
}

@media screen and (min-width: 700px) {
  body { 
    width:40em;
    margin: 0 auto;

  }
}


nav>div {
  display: flex;
}
nav>div div {
  padding: .5em 1.5em;
  color: white;
  background-color:blue;
}
nav>div div.active {
  padding: .5em 1.5em;
  color: white;
  background-color:purple;
}
nav>div div+div {
  border-left:1px solid white;
}
nav>div div a {
  color: white;
  text-decoration: none;
}

header, footer {
  height: 6rem; 
  color: white; 
  text-align:center; 
  display:flex; 
  justify-content: center; 
  align-items: center; 
}
header {
  background-color: purple;
  font-size: xx-large;
}
header a, header a:visited, header a:active {
  color: white;
  text-decoration: none;
}

footer {
  background-color:#888;

}

div.content div.paragraph {
  font-size: .8em;
  line-height: 1.75;
  border: 1px dashed purple;
  margin-bottom: 1em;
}

p.fip, p.expanded, p.substituted, p.simplified, p.commentary {
  margin-left: 1em;
  padding-left: .5em;
}

p.expanded, p.substituted, p.simplified, p.commentary {
  border-left: 2px solid;
}

p.expanded  {
  border-left-color: blue;
}
p.substituted  {
  border-left-color: green;
}
p.simplified {
  border-left-color: red;
  font-style: italic;
}
p.commentary {
  border-left-color: darkorange;
  display: none;
}

