body {
  font-family: Verdana, sans-serif;
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

p {
  line-height: 1.5;
}

p.expanded {
}

p.substituted {
/*  display: none; */
}

p.simplified {
  padding-left: 3em;
  padding-right: 3em;
  font-style: italic;
}



