body {
  font-family: Verdana, sans-serif;
}

@media screen and (min-width: 700px) {
  body { 
    width:40em;
    margin: 0 auto;
  }
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

nav>div {
  display: flex;
}
nav>div div {
  padding: .5em 1.5em;
  color: white;
  background-color:blue;
}
nav>div div.active {
  padding: .5em 1.5em;
  color: white;
  background-color:purple;
}
nav>div div+div {
  border-left:1px solid white;
}
nav>div div a {
  color: white;
  text-decoration: none;
}

div.paragraph {
  border: 1px dashed black;
}
div.paragraph {
  margin-bottom: 1em;
}

p.emphasis {
  font-style: italic;
}

p.indented {
  margin-left: 3em;
}

p.simplified {
  font-style: italic;
}
