---
layout: content.njk
title: The Reality of the Kingdom
reference: T-7.III
eleventyNavigation:
  key: T-7.III
  title: T-7.III The Reality of the Kingdom
  parent: T-7
  order: 3
prev: T-7.II
next: T-7.IV
---

<p>
  1. The Holy Spirit teaches one lesson, and applies it to all individuals in all situations.
  ²Being conflict-free, He maximises all efforts and all results.
  ³By teaching the power of the Kingdom of God Himself, He teaches you that all power is yours.
  ⁴Its application does not matter.
  ⁵It is always maximal.
  ⁶Your vigilance does not establish it as yours, but it does enable you to use it always and in all ways.
  ⁷When I said <q>I am with you always</q>, I meant it literally.
  ⁸I am not absent to anyone in any situation.
  ⁹Because I am always with you, <em>you</em> are the way, the truth and the life.
  ¹⁰You did not make this power, any more than I did.
  ¹¹It was created to be shared, and therefore cannot be meaningfully perceived as belonging to anyone at the expense of another.
  ¹²Such a perception makes it meaningless by eliminating or overlooking its real and only meaning.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  The Holy Spirit teaches one lesson.
  The Holy Spirit’s one lesson applies to all individuals in all situations.
  The Holy Spirit is free of conflict.
  The Holy Spirit maximises all efforts and all results.
  The Holy Spirit teaches the power of the Kingdom of God.
  The Holy Spirit teaches you that all power is yours.
  How you apply the power does not matter.
  The power is always maximal.
  The power is not yours. 
  Being vigilant enables you to use your power always and in all ways.
  I said, <q>I am with you always</q>, and I meant it literally.
  I am not absent to anyone in any situation.
  I am always with you, so <em>you</em> are the way, the truth and the life.
  You did not make your power.
  I did not make your power.
  Your power was created to be shared. 
  Your power is not yours sometimes and then others’ at other times.
  Being shared give the power its meaning.
</div>
</details>
{% endif %}

<p>
  2. God’s meaning waits in the Kingdom, because that is where He placed it.
  ²It does not wait in time.
  ³It merely rests in the Kingdom because it belongs there, as you do.
  ⁴How can you who are God’s meaning perceive yourself as absent from it?
  ⁵You can see yourself as separated from your meaning only by experiencing yourself as unreal.
  ⁶This is why the ego is insane: it teaches that you are not what you are.
  ⁷That is so contradictory it is clearly impossible.
  ⁸It is therefore a lesson you cannot really learn, and therefore cannot really teach.
  ⁹Yet you are always teaching.
  ¹⁰You must, therefore, be teaching something else, even though the ego does not know what it is.
  ¹¹The ego, then, is always being undone, and does suspect your motives.
  ¹²Your mind cannot be unified in allegiance to the ego, because the mind does not belong to it.
  ¹³Yet what is <q>treacherous</q> to the ego is faithful to peace.
  ¹⁴The ego’s <q>enemy</q> is therefore your friend.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  God placed His meaning in the Kingdom. 
  God’s meaning does not wait in time. 
  God’s meaning rests in the Kingdom. 
  God’s meaning belongs in the Kingdom. 
  You belong in the Kingdom. 
  You are God’s meaning. 
  Do not perceive yourself as absent from the Kingdom. 
  Seeing yourself as separated from your meaning feels not real.
  The ego is insane. 
  The ego teaches that you are not what you are. 
  It is impossible to be what you are not. 
  You cannot learn to be separated from your meaning. 
  You cannot teach to be separated from your meaning. 
  You are always teaching.
  You are not teaching separation. 
  The ego does not know what you are teaching. 
  The ego is always being undone. 
  The ego is always supicious of your motives. 
  Your mind cannot be one with the ego. 
  Your mind does not belong to the ego.
  What is <q>treacherous</q> to the ego is faithful to peace. 
  The ego’s <q>enemy</q> is your friend.
</div>
</details>
{% endif %}

<p>
  3. I said before that the ego’s friend is not part of you, because the ego perceives itself at war and therefore in need of allies.
  ²You who are not at war must look for brothers and recognize all whom you see as brothers, because only equals are at peace.
  ³Because God’s equal Sons have everything, they cannot compete.
  ⁴Yet if they perceive any of their brothers as anything other than their perfect equals, the idea of competition has entered their minds.
  ⁵Do not underestimate your need to be vigilant <em>against</em> this idea, because all your conflicts come from it.
  ⁶It <em>is</em> the belief that conflicting interests are possible, and therefore you have accepted the impossible as true.
  ⁷Is that different from saying you perceive yourself as unreal?
</p>

<p>
  4. To be in the Kingdom is merely to focus your full attention on it.
  ²As long as you believe you can attend to what is not true, you are accepting conflict as your choice.
  ³Is it really a choice?
  ⁴It seems to be, but seeming and reality are hardly the same.
  ⁵You who <em>are</em> the Kingdom are not concerned with seeming.
  ⁶Reality is yours because you are reality.
  ⁷This is how <em>having</em> and <em>being</em> are ultimately reconciled, not in the Kingdom, but in your mind.
  ⁸The altar there is the only reality.
  ⁹The altar is perfectly clear in thought, because it is a reflection of perfect Thought.
  ¹⁰Your right mind sees only brothers, because it sees only in its own light.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  Being in the Kingdom is focusing your full attention on the Kingdom. 
  Believing what is not true is choosing conflict. 
  Is believing untruth and accepting conflict really a choice? 
  Believing untruth seems to be a choice, but seeming and reality are not the same. 
  You are the Kingdom, do not be concerned with seeming. 
  Reality is yours because you are reality.
  In the Kingdom, there is only the reality of being. 
  Having and being can be reconciled in your mind.
  The altar in your mind is the only reality.
  The altar is perfectly clear in thought.
  The altar is a reflection of perfect Thought.
  Your right mind sees only brothers,
  Your right mind sees everything in its own light.
</div>
</details>
{% endif %}

<p>
  5. God has lit your mind Himself, and keeps your mind lit by His light because His light is what your mind is.
  ²This is totally beyond question, and when you question it you are answered.
  ³The Answer merely undoes the question by establishing the fact that to question reality is to question meaninglessly.
  ⁴That is why the Holy Spirit never questions.
  ⁵His sole function is to undo the questionable and thus lead to certainty.
  ⁶The certain are perfectly calm, because they are not in doubt.
  ⁷They do not raise questions, because nothing questionable enters their minds.
  ⁸This holds them in perfect serenity, because this is what they share, knowing what they are.
</p>

{% if showDetails %}
<details>
  <summary>Expanded</summary>
  God has lit your mind Himself. 
  God’s light keeps your mind lit.
  Your mind is God’s light: this is totally beyond question.
  When you question if your mind is God’s light, you are answered.
  The Answer merely undoes the question.
  The question is undone because to question reality is to question meaninglessly.
  The Holy Spirit never questions.
  The Holy Spirit’s sole function is to undo the questionable.
  The Holy Spirit leads to certainty.
  The certain are perfectly calm.
  The certain are not in doubt.
  The certain do not raise questions.
  The certain have nothing questionable in their minds.
  The certain are held in perfect serenity.
  The certain share their unquestioning mind.
  The certain know what they are.
</div>
</details>
{% endif %}