---
layout: content.njk
title: Fear and Conflict
reference: T-2.VI
eleventyNavigation:
  key: T-2.VI
  title: T-2.VI Fear and Conflict
  parent: T-2
  order: 6
prev: T-2.V.A
next: T-2.VII
---

<p id="p1">1. Being afraid seems to be involuntary; something beyond your own control. 
²Yet I have said already that only constructive acts should be involuntary. 
³My control can take over everything that does not matter, while my guidance can direct everything that does, if you so choose. 
⁴Fear cannot be controlled by me, but it can be self-controlled. 
⁵Fear prevents me from giving you my control. 
⁶The presence of fear shows that you have raised body thoughts to the level of the mind. 
⁷This removes them from my control, and makes you feel personally responsible for them. 
⁸This is an obvious confusion of levels.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
Being afraid seems to be involuntary; [being afraid seems to be] something beyond your own control. 
Yet I have said already that only constructive acts should be involuntary. 
My control can take over everything that does not matter, while my guidance can direct everything that does [matter], if you so choose. 
Fear cannot be controlled by me, but it [fear] can be self-controlled. 
Fear prevents me from giving you my control. 
The presence of fear shows that you have raised body thoughts to the level of the mind. 
This removes them [body thoughts] from my control, and makes you feel personally responsible for them [body thoughts]. 
This is an obvious confusion of levels.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
Being afraid seems to be involuntary; being afraid seems to be something beyond your own control. 
Yet I have said already that only constructive acts should be involuntary. 
My control can take over everything that does not matter, while my guidance can direct everything that does matter, if you so choose. 
Fear cannot be controlled by me, but fear can be self-controlled. 
Fear prevents me from giving you my control. 
The presence of fear shows that you have raised body thoughts to the level of the mind. 
This removes body thoughts from my control, and makes you feel personally responsible for body thoughts. 
This is an obvious confusion of levels.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
Thoughts about the body cause fear. 
Let me control thoughts about the body. 
Let me guide your mind. 
	</div>
</details>
{% endif %}



<p id="p2">
2. I do not foster level confusion, but you must choose to correct it. 
²You would not excuse insane behavior on your part by saying you could not help it. 
³Why should you condone insane thinking? 
⁴There is a confusion here that you would do well to look at clearly. 
⁵You may believe that you are responsible for what you do, but not for what you think. 
⁶The truth is that you are responsible for what you think, because it is only at this level that you can exercise choice. 
⁷What you do comes from what you think. 
⁸You cannot separate yourself from the truth by “giving” autonomy to behavior. 
⁹This is controlled by me automatically as soon as you place what you think under my guidance. 
¹⁰Whenever you are afraid, it is a sure sign that you have allowed your mind to miscreate and have not allowed me to guide it.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
I do not foster level confusion, but you must choose to correct it [level confusion]. 
You would not excuse insane behavior on your part by saying you could not help it. 
Why should you condone insane thinking? 
There is a confusion here that you would do well to look at clearly. 
You may believe that you are responsible for what you do, but not [responsible] for what you think. 
The truth is that you are responsible for what you think, because it is only at this level [the level of what you think] that you can exercise choice. 
What you do comes from what you think. 
You cannot separate yourself from the truth by “giving” autonomy to behavior. 
This [behavior] is controlled by me automatically as soon as you place what you think under my guidance. 
Whenever you are afraid, it is a sure sign that you have allowed your mind to miscreate and have not allowed me to guide it [your mind].
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
I do not foster level confusion, but you must choose to correct level confusion. 
You would not excuse insane behavior on your part by saying you could not help it. 
Why should you condone insane thinking? 
There is a confusion here that you would do well to look at clearly. 
You may believe that you are responsible for what you do, but not responsible for what you think. 
The truth is that you are responsible for what you think, because it is only at the level of what you think that you can exercise choice. 
What you do comes from what you think. 
You cannot separate yourself from the truth by “giving” autonomy to behavior. 
Behavior is controlled by me automatically as soon as you place what you think under my guidance. 
Whenever you are afraid, it is a sure sign that you have allowed your mind to miscreate and have not allowed me to guide your mind.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
Behavior is not a choice. 
Behavior follows what you think. 
You choose what to think. 
Allow me to guide what you think. 
Fear and insane behavior are the results of your own thinking. 
	</div>
</details>
{% endif %}

<p id="p3">
3. It is pointless to believe that controlling the outcome of misthought can result in healing. 
²When you are fearful, you have chosen wrongly. 
³That is why you feel responsible for it. 
⁴You must change your mind, not your behavior, and this <i>is</i> a matter of willingness. 
⁵You do not need guidance except at the mind level. 
⁶Correction belongs only at the level where change is possible. 
⁷Change does not mean anything at the symptom level, where it cannot work.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
It is pointless to believe that controlling the outcome of misthought can result in healing. 
When you are fearful, you have chosen wrongly. 
That is why you feel responsible for it. 
You must change your mind, not your behavior, and this <i>is</i> a matter of willingness. 
You do not need guidance except at the mind level. 
Correction belongs only at the level where change is possible. 
Change does not mean anything at the symptom level, where it [change] cannot work.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
It is pointless to believe that controlling the outcome of misthought can result in healing. 
When you are fearful, you have chosen wrongly. 
That is why you feel responsible for it. 
You must change your mind, not your behavior, and this <i>is</i> a matter of willingness. 
You do not need guidance except at the mind level. 
Correction belongs only at the level where change is possible. 
Change does not mean anything at the symptom level, where change cannot work.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
Behaviour and fear are the outcomes of misthought. 
Correction and healing can only occur at the level of mind. 
Be willing to change your mind. 
Your mind needs guidance.
	</div>
</details>
{% endif %}



<p id="p4">
4. The correction of fear <i>is</i> your responsibility. 
²When you ask for release from fear, you are implying that it is not. 
³You should ask, instead, for help in the conditions that have brought the fear about. 
⁴These conditions always entail a willingness to be separate. 
⁵At that level you <i>can</i> help it. 
⁶You are much too tolerant of mind wandering, and are passively condoning your mind’s miscreations. 
⁷The particular result does not matter, but the fundamental error does. 
⁸The correction is always the same. 
⁹Before you choose to do anything, ask me if your choice is in accord with mine. 
¹⁰If you are sure that it is, there will be no fear.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
The correction of fear <i>is</i> your responsibility. 
When you ask for release from fear, you are implying that it [correction of fear] is not [your responsibility]. 
You should ask, instead, for help in the conditions that have brought the fear about. 
These conditions [that have brought the fear about] always entail a willingness to be separate. 
At that level [willingness to be separate] you <i>can</i> help it [fear]. 
You are much too tolerant of mind wandering, and are passively condoning your mind’s miscreations. 
The particular result does not matter, but the fundamental error does [matter]. 
The correction is always the same. 
Before you choose to do anything, ask me if your choice is in accord with mine [my choice]. 
If you are sure that it [your choice] is [in accord with my choice], there will be no fear.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
The correction of fear <i>is</i> your responsibility. 
When you ask for release from fear, you are implying that correction of fear is not your responsibility. 
You should ask, instead, for help in the conditions that have brought the fear about. 
The conditions that have brought the fear about always entail a willingness to be separate. 
At the level of willingness to be separate, you <i>can</i> help fear. 
You are much too tolerant of mind wandering, and are passively condoning your mind’s miscreations. 
The particular result does not matter, but the fundamental error does matter. 
The correction is always the same. 
Before you choose to do anything, ask me if your choice is in accord with my choice. 
If you are sure that your choice is in accord with my choice, there will be no fear.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
You are willing to be separate. 
Your mind miscreates. 
You are fearful. 
Correct the error by making choices in accord with my choices.
	</div>
</details>
{% endif %}

<p id="p5">
5. Fear is always a sign of strain, arising whenever what you want conflicts with what you do. 
²This situation arises in two ways: First, you can choose to do conflicting things, either simultaneously or successively. 
³This produces conflicted behavior, which is intolerable to you because the part of the mind that wants to do something else is outraged. 
⁴Second, you can behave as you think you should, but without entirely wanting to do so. 
⁵This produces consistent behavior, but entails great strain. 
⁶In both cases, the mind and the behavior are out of accord, resulting in a situation in which you are doing what you do not wholly want to do. 
⁷This arouses a sense of coercion that usually produces rage, and projection is likely to follow. 
⁸Whenever there is fear, it is because you have not made up your mind. 
⁹Your mind is therefore split, and your behavior inevitably becomes erratic. 
¹⁰Correcting at the behavioral level can shift the error from the first to the second type, but will not obliterate the fear.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
Fear is always a sign of strain, arising whenever what you want conflicts with what you do. 
This situation arises in two ways: First, you can choose to do conflicting things, either simultaneously or successively. 
This [doing conflicting things] produces conflicted behavior, which is intolerable to you because the part of the mind that wants to do something else is outraged. 
Second, you can behave as you think you should [behave], but without entirely wanting to do so [behave as you think you should behave]. 
This produces consistent behavior, but entails great strain. 
In both cases, the mind and the behavior are out of accord, resulting in a situation in which you are doing what you do not wholly want to do. 
This arouses a sense of coercion that usually produces rage, and projection is likely to follow. 
Whenever there is fear, it is because you have not made up your mind. 
Your mind is therefore split, and your behavior inevitably becomes erratic. 
Correcting at the behavioral level can shift the error from the first [type, doing conflicting things] to the second type [behaving as you think you should], but will not obliterate the fear.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
Fear is always a sign of strain, arising whenever what you want conflicts with what you do. 
This situation arises in two ways: First, you can choose to do conflicting things, either simultaneously or successively. 
Doing conflicting things produces conflicted behavior, which is intolerable to you because the part of the mind that wants to do something else is outraged. 
Second, you can behave as you think you should behave, but without entirely wanting to behave as you think you should behave. 
This produces consistent behavior, but entails great strain. 
In both cases, the mind and the behavior are out of accord, resulting in a situation in which you are doing what you do not wholly want to do. 
This arouses a sense of coercion that usually produces rage, and projection is likely to follow. 
Whenever there is fear, it is because you have not made up your mind. 
Your mind is therefore split, and your behavior inevitably becomes erratic. 
Correcting at the behavioral level can shift the error from the first type (doing conflicting things),  to the second type (behaving as you think you should without wanting to), but will not obliterate the fear.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
When mind and behavior are out of accord, the result is fear, rage and projection. 
Correcting behavior cannot obliterate fear.
	</div>
</details>
{% endif %}


<p id="p6">
6. It is possible to reach a state in which you bring your mind under my guidance without conscious effort, but this implies a willingness that you have not developed as yet. 
²The Holy Spirit cannot ask more than you are willing to do. 
³The strength to do comes from your undivided decision. 
⁴There is no strain in doing God’s Will as soon as you recognize that it is also your own. 
⁵The lesson here is quite simple, but particularly apt to be overlooked. 
⁶I will therefore repeat it, urging you to listen. 
⁷Only your mind can produce fear. 
⁸It does so whenever it is conflicted in what it wants, producing inevitable strain because wanting and doing are discordant. 
⁹This can be corrected only by accepting a unified goal.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
It is possible to reach a state in which you bring your mind under my guidance without conscious effort, but this implies a willingness that you have not developed as yet. 
The Holy Spirit cannot ask more than you are willing to do. 
The strength to do comes from your undivided decision. 
There is no strain in doing God’s Will as soon as you recognize that it [God’s Will] is also your own [will]. 
The lesson here is quite simple, but particularly apt to be overlooked. 
I will therefore repeat it [the lesson], urging you to listen. 
Only your mind can produce fear. 
It [your mind] does so [produces fear] whenever it [your mind] is conflicted in what it [your mind] wants, producing inevitable strain because wanting and doing are discordant. 
This can be corrected only by accepting a unified goal.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
It is possible to reach a state in which you bring your mind under my guidance without conscious effort, but this implies a willingness that you have not developed as yet. 
The Holy Spirit cannot ask more than you are willing to do. 
The strength to do comes from your undivided decision. 
There is no strain in doing God’s Will as soon as you recognize that God’s Will is also your own will. 
The lesson here is quite simple, but particularly apt to be overlooked. 
I will therefore repeat the lesson, urging you to listen. 
Only your mind can produce fear. 
Your mind produces fear whenever your mind is conflicted in what your mind wants, producing inevitable strain because wanting and doing are discordant. 
This can be corrected only by accepting a unified goal.
</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
God’s Will is your will. 
Fear is produced in the mind. 
Correct the conflict in your mind by unifying your will with God’s Will.
	</div>
</details>
{% endif %}

<p id="p7">
7. The first corrective step in undoing the error is to know first that the conflict is an expression of fear. 
²Say to yourself that you must somehow have chosen not to love, or the fear could not have arisen. 
³Then the whole process of correction becomes nothing more than a series of pragmatic steps in the larger process of accepting the Atonement as the remedy. 
⁴These steps may be summarised in this way:<br> 
 ⁵Know first that this is fear.<br> 
 ⁶Fear arises from lack of love.<br> 
 ⁷The only remedy for lack of love is perfect love.<br> 
 ⁸Perfect love is the Atonement.
</p>

{% if showDetails %}
<details>
	<summary>Simplified</summary>
	<div>
The remedy for conflict is to accept the atonement. 
The steps are 1)Know first that the conflict is fear; 
2) Fear arises from lack of love; 
3) The only remedy for lack of love is perfect love and 
4) Perfect love is the Atonement. 
	</div>
</details>
{% endif %}

<p id="p8">
8. I have emphasized that the miracle, or the expression of Atonement, is always a sign of respect <i>from</i> the worthy <i>to</i> the worthy. 
²The recognition of this worth is reestablished by the Atonement. 
³It is obvious, then, that when you are afraid, you have placed yourself in a position where you need Atonement. 
⁴You have done something loveless, having chosen without love. 
⁵This is precisely the situation for which the Atonement was offered. 
⁶The need for the remedy inspired its establishment. 
⁷As long as you recognize only the need for the remedy, you will remain fearful. 
⁸However, as soon as you accept the remedy, you have abolished the fear. 
⁹This is how true healing occurs.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
I have emphasized that the miracle, or the expression of Atonement, is always a sign of respect <i>from</i> the worthy <i>to</i> the worthy. 
The recognition of this worth is reestablished by the Atonement. 
It is obvious, then, that when you are afraid, you have placed yourself in a position where you need Atonement. 
You have done something loveless, having chosen without love. 
This is precisely the situation for which the Atonement was offered. 
The need for the remedy inspired its [the Atonement’s] establishment. 
As long as you recognize only the need for the remedy, you will remain fearful. 
However, as soon as you accept the remedy, you have abolished the fear. 
This is how true healing occurs.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
I have emphasized that the miracle, or the expression of Atonement, is always a sign of respect <i>from</i> the worthy <i>to</i> the worthy. 
The recognition of this worth is reestablished by the Atonement. 
It is obvious, then, that when you are afraid, you have placed yourself in a position where you need Atonement. 
You have done something loveless, having chosen without love. 
This is precisely the situation for which the Atonement was offered. 
The need for the remedy inspired the Atonement’s establishment. 
As long as you recognize only the need for the remedy, you will remain fearful. 
However, as soon as you accept the remedy, you have abolished the fear. 
This is how true healing occurs.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
A miracle recognises your true worth. 
Fear results when you choose without love, and do loveless things. 
The Atonement is the remedy for fear. 
The Atonement reestablishes your true worth. 
True healing occurs when you accept the remedy. 
	</div>
</details>
{% endif %}

<p id="p9">
9. Everyone experiences fear. 
²Yet it would take very little right thinking to realize why fear occurs. 
³Few appreciate the real power of the mind, and no one remains fully aware of it all the time. 
⁴However, if you hope to spare yourself from fear there are some things you must realize, and realize fully. 
⁵The mind is very powerful, and never loses its creative force. 
⁶It never sleeps. 
⁷Every instant it is creating. 
⁸It is hard to recognize that thought and belief combine into a power surge that can literally move mountains. 
⁹It appears at first glance that to believe such power about yourself is arrogant, but that is not the real reason you do not believe it. 
¹⁰You prefer to believe that your thoughts cannot exert real influence because you are actually afraid of them. 
¹¹This may allay awareness of the guilt, but at the cost of perceiving the mind as impotent. 
¹²If you believe that what you think is ineffectual you may cease to be afraid of it, but you are hardly likely to respect it. 
¹³There <i>are</i> no idle thoughts. 
¹⁴All thinking produces form at some level.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
Everyone experiences fear. 
Yet it would take very little right thinking to realize why fear occurs. 
Few appreciate the real power of the mind, and no one remains fully aware of it [the mind] all the time. 
However, if you hope to spare yourself from fear there are some things you must realize, and realize fully. 
The mind is very powerful, and never loses its [the-mind’s] creative force. 
It [the mind] never sleeps. 
Every instant it [the mind] is creating. 
It is hard to recognize that thought and belief combine into a power surge that can literally move mountains. 
It appears at first glance that to believe such power about yourself is arrogant, but that [arrogance] is not the real reason you do not believe it [you have the power to move mountains]. 
You prefer to believe that your thoughts cannot exert real influence because you are actually afraid of them [your thoughts]. 
This [being afraid of your thoughts] may allay awareness of the guilt, but at the cost of perceiving the mind as impotent. 
If you believe that what you think is ineffectual you may cease to be afraid of it [the mind], but you are hardly likely to respect it [the mind]. 
There <i>are</i> no idle thoughts. 
All thinking produces form at some level.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
Everyone experiences fear. 
Yet it would take very little right thinking to realize why fear occurs. 
Few appreciate the real power of the mind, and no one remains fully aware of the mind all the time. 
However, if you hope to spare yourself from fear there are some things you must realize, and realize fully. 
The mind is very powerful, and never loses the-mind’s creative force. 
The mind never sleeps. 
Every instant the mind is creating. 
It is hard to recognize that thought and belief combine into a power surge that can literally move mountains. 
It appears at first glance that to believe such power about yourself is arrogant, but arrogance is not the real reason you do not believe you have the power to move mountains. 
You prefer to believe that your thoughts cannot exert real influence because you are actually afraid of your thoughts. 
Being afraid of your thoughts may allay awareness of the guilt, but at the cost of perceiving the mind as impotent. 
If you believe that what you think is ineffectual you may cease to be afraid of the mind, but you are hardly likely to respect the mind. 
There <i>are</i> no idle thoughts. 
All thinking produces form at some level.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
Fear occurs because you do not respect the mind. 
The mind is very powerful. 
The mind is always creating. 
There are no idle thoughts. 
All thinking produces something.
	</div>
</details>
{% endif %}
