---
layout: content.njk
title: The Atonement as Defense
reference: T-2.II
eleventyNavigation:
  key: T-2.II
  title: T-2.II The Atonement as Defense
  parent: T-2
  order: 2
prev: T-2.I
next: T-2.III
---

<p>
1. You can do anything I ask. 
²I have asked you to perform miracles, and have made it clear that miracles are natural, corrective, healing and universal. 
³There is nothing they cannot do, but they cannot be performed in the spirit of doubt or fear. 
⁴When you are afraid of anything, you are acknowledging its power to hurt you. 
⁵Remember that where your heart is, there is your treasure also. 
⁶You believe in what you value. 
⁷If you are afraid, you are valuing wrongly. 
⁸Your understanding will then inevitably value wrongly, and by endowing all thoughts with equal power will inevitably destroy peace. 
⁹That is why the Bible speaks of “the peace of God which passes understanding”. 
¹⁰This peace is totally incapable of being shaken by errors of any kind. 
¹¹It denies the ability of anything not of God to affect you. 
¹²This is the proper use of denial. 
¹³It is not used to hide anything, but to correct error. 
¹⁴It brings all error into the light, and since error and darkness are the same, it corrects error automatically.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
You can do anything I ask. 
²I have asked you to perform miracles, and have made it clear that miracles are natural, corrective, healing and universal. 
³There is nothing they [miracles] cannot do, but they [miracles] cannot be performed in the spirit of doubt or fear. 
⁴When you are afraid of anything, you are acknowledging its [the-feared-thing’s] power to hurt you. 
⁵Remember that where your heart is, there is your treasure also. 
⁶You believe in what you value. 
⁷If you are afraid, you are valuing wrongly. 
⁸Your understanding will then inevitably value wrongly, and by endowing all thoughts with equal power, [valuing wrongly] will inevitably destroy peace. 
⁹That is why the Bible speaks of “the peace of God which passes understanding”. 
¹⁰This peace [the peace that passes understanding] is totally incapable of being shaken by errors of any kind. 
¹¹It [the peace that passes understanding] denies the ability of anything not of God to affect you. 
¹²This [denying that anything not of God can affect you] is the proper use of denial. 
¹³It [denying that anything not of God can affect you] is not used to hide anything, but to correct error. 
¹⁴It [denying that anything not of God can affect you] brings all error into the light, and since error and darkness are the same, it [denying that anything not of God can affect you] corrects error automatically.
	</div>
</details>

<details>
	<summary>Substituted</summary>
	<div>
You can do anything I ask. 
²I have asked you to perform miracles, and have made it clear that miracles are natural, corrective, healing and universal. 
³There is nothing miracles cannot do, but miracles cannot be performed in the spirit of doubt or fear. 
⁴When you are afraid of anything, you are acknowledging the-feared-thing’s power to hurt you. 
⁵Remember that where your heart is, there is your treasure also. 
⁶You believe in what you value. 
⁷If you are afraid, you are valuing wrongly. 
⁸Your understanding will then inevitably value wrongly, and by endowing all thoughts with equal power, valuing wrongly will inevitably destroy peace. 
⁹That is why the Bible speaks of “the peace of God which passes understanding”. 
¹⁰The peace that passes understanding is totally incapable of being shaken by errors of any kind. 
¹¹The peace that passes understanding denies the ability of anything not of God to affect you. 
¹²Denying that anything not of God can affect you is the proper use of denial. 
¹³Denying that anything not of God can affect you is not used to hide anything, but to correct error. 
¹⁴Denying that anything not of God can affect you brings all error into the light, and since error and darkness are the same, denying that anything not of God can affect you corrects error automatically.
			</div>
</details>

<details>
	<summary>Simplified</summary>
	<div>
	Nothing can hurt you.
	Your peace is disturbed if you think something can hurt you.
	Thinking something can hurt you is an error that can be corrected. 
	</div>
</details>
{% endif %}

<p>
2. True denial is a powerful protective device. 
²You can and should deny any belief that error can hurt you. 
³This kind of denial is not a concealment but a correction. 
⁴Your right mind depends on it. 
⁵Denial of error is a strong defense of truth, but denial of truth results in miscreation, the projections of the ego. 
⁶In the service of the right mind the denial of error frees the mind, and reestablishes the freedom of the will. 
⁷When the will is really free it cannot miscreate, because it recognizes only truth.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
True denial is a powerful protective device. 
²You can and should deny any belief that error can hurt you. 
³This kind of denial [denying error can hurt you] is not a concealment but a correction. 
⁴Your right mind depends on it [denying error can hurt you]. 
⁵Denial of error is a strong defense of truth, but denial of truth results in miscreation, the projections of the ego. 
⁶In the service of the right mind the denial of error frees the mind, and reestablishes the freedom of the will. 
⁷When the will is really free it [the will] cannot miscreate, because it [the will] recognizes only truth.
	</div>
</details>

<details>
	<summary>Substituted</summary>
	<div>
True denial is a powerful protective device. 
²You can and should deny any belief that error can hurt you. 
³Denying error can hurt you is not a concealment but a correction. 
⁴Your right mind depends on denying error can hurt you. 
⁵Denial of error is a strong defense of truth, but denial of truth results in miscreation, the projections of the ego. 
⁶In the service of the right mind the denial of error frees the mind, and reestablishes the freedom of the will. 
⁷When the will is really free the will cannot miscreate, because the will recognizes only truth.
	</div>
</details>

<details>
	<summary>Simplified</summary>
	<div>
Deny any belief that error can hurt you.
Otherwise the ego will project. 
Denying error serves your right mind.
In your right mind you will recognize truth and create truly.
	</div>
</details>
{% endif %}

<p>
3. You can defend truth as well as error. 
²The means are easier to understand after the value of the goal is firmly established. 
³It is a question of what it is <em>for</em>. 
⁴Everyone defends his treasure, and will do so automatically. 
⁵The real questions are, what do you treasure, and how much do you treasure it? 
⁶Once you have learned to consider these questions and to bring them into all your actions, you will have little difficulty in clarifying the means. 
⁷The means are available whenever you ask. 
⁸You can, however, save time if you do not protract this step unduly. 
⁹The correct focus will shorten it immeasurably.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
You can defend truth as well as error. 
²The means are easier to understand after the value of the goal is firmly established. 
³It [establishing the value of the goal] is a question of what it [the goal] is <em>for</em>. 
⁴Everyone defends his [everyone’s-own] treasure, and will do so [defend treasure] automatically. 
⁵The real questions are, what do you treasure, and how much do you treasure it [your treasure]? 
⁶Once you have learned to consider these questions and to bring them [these questions] into all your actions, you will have little difficulty in clarifying the means. 
⁷The means are available whenever you ask. 
⁸You can, however, save time if you do not protract this step [questioning your treasure] unduly. 
⁹The correct focus will shorten it [time] immeasurably.
	</div>
</details>

<details>
	<summary>Substituted</summary>
	<div>
You can defend truth as well as error. 
²The means are easier to understand after the value of the goal is firmly established. 
³Establishing the value of the goal is a question of what the goal is <em>for</em>. 
⁴Everyone defends everyone’s-own treasure, and will defend treasure automatically. 
⁵The real questions are, what do you treasure, and how much do you treasure your treasure? 
⁶Once you have learned to consider these questions and to bring these questions into all your actions, you will have little difficulty in clarifying the means. 
⁷The means are available whenever you ask. 
⁸You can, however, save time if you do not unduly protract the step of questioning your treasure. 
⁹The correct focus will shorten time immeasurably.
	</div>
</details>

<details>
	<summary>Simplified</summary>
	<div>
Ask yourself what do you treasure, and why do you treasure it.
Once you have established your goal, the means become apparent.
	</div>
</details>
{% endif %}


<p>
4. The Atonement is the only defense that cannot be used destructively because it is not a device you made. 
²The Atonement <em>principle</em> was in effect long before the Atonement began. 
³The principle was love and the Atonement was an <em>act</em> of love. 
⁴Acts were not necessary before the separation, because belief in space and time did not exist. 
⁵It was only after the separation that the Atonement and the conditions necessary for its fulfillment were planned. 
⁶Then a defense so splendid was needed that it could not be misused, although it could be refused. 
⁷Refusal could not, however, turn it into a weapon of attack, which is the inherent characteristic of other defenses. 
⁸The Atonement thus becomes the only defense that is not a two-edged sword. 
⁹It can only heal.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
The Atonement is the only defense that cannot be used destructively because it [the Atonement] is not a device you made. 
²The Atonement <em>principle</em> was in effect long before the Atonement began. 
³The principle was love and the Atonement was an <em>act</em> of love. 
⁴Acts were not necessary before the separation, because belief in space and time did not exist. 
⁵It was only after the separation that the Atonement and the conditions necessary for its [the-Atonement’s] fulfillment were planned. 
⁶Then a defense so splendid was needed that it [the defense] could not be misused, although it [the defense] could be refused. 
⁷Refusal could not, however, turn it [the defense] into a weapon of attack, which [a weapon of attack] is the inherent characteristic of other defenses. 
⁸The Atonement thus becomes the only defense that is not a two-edged sword. 
⁹It [the Atonement] can only heal.
	</div>
</details>

<details>
	<summary>Substituted</summary>
<div>
The Atonement is the only defense that cannot be used destructively because the Atonement is not a device you made. 
²The Atonement <em>principle</em> was in effect long before the Atonement began. 
³The principle was love and the Atonement was an <em>act</em> of love. 
⁴Acts were not necessary before the separation, because belief in space and time did not exist. 
⁵It was only after the separation that the Atonement and the conditions necessary for the-Atonement’s fulfillment were planned. 
⁶Then a defense so splendid was needed that the defense could not be misused, although the defense could be refused. 
⁷Refusal could not, however, turn the defense into a weapon of attack — the inherent characteristic of other defenses is they are a weapon of attack. 
⁸The Atonement thus becomes the only defense that is not a two-edged sword. 
⁹The Atonement can only heal.
</div>
</details>

<details>
	<summary>Simplified</summary>
	<div>
The Atonement is for your own use to heal the separation.	
	</div>
</details>
{% endif %}

<p>
5. The Atonement was built into the space–time belief to set a limit on the need for the belief itself, and ultimately to make learning complete. 
²The Atonement is the final lesson. 
³Learning itself, like the classrooms in which it occurs, is temporary. 
⁴The ability to learn has no value when change is no longer necessary. 
⁵The eternally creative have nothing to learn. 
⁶You can learn to improve your perceptions, and can become a better and better learner. 
⁷This will bring you into closer and closer accord with the Sonship; but the Sonship itself is a perfect creation and perfection is not a matter of degree. 
⁸Only while there is a belief in differences is learning meaningful.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
The Atonement was built into the space–time belief to set a limit on the need for the belief itself [space–time-belief’s-own-self], and ultimately to make learning complete. 
²The Atonement is the final lesson. 
³Learning itself [learning’s-own-self], like the classrooms in which it [learning] occurs, is temporary. 
⁴The ability to learn has no value when change is no longer necessary. 
⁵The eternally creative have nothing to learn. 
⁶You can learn to improve your perceptions, and can become a better and better learner. 
⁷This [improving your perceptions, becoming a better learner] will bring you into closer and closer accord with the Sonship; but the Sonship itself [Sonship’s-own-self] is a perfect creation and perfection is not a matter of degree. 
⁸Only while there is a belief in differences is learning meaningful.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
The Atonement was built into the space–time belief, to set a limit on the need for the space–time-belief’s-own-self, and ultimately to make learning complete. 
²The Atonement is the final lesson. 
³Learning’s-own-self, like the classrooms in which learning occurs, is temporary. 
⁴The ability to learn has no value when change is no longer necessary. 
⁵The eternally creative have nothing to learn. 
⁶You can learn to improve your perceptions, and can become a better and better learner. 
⁷Improving your perceptions and becoming a better learner will bring you into closer and closer accord with the Sonship; but the Sonship’s-own-self is a perfect creation and perfection is not a matter of degree. 
⁸Only while there is a belief in differences is learning meaningful.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		Keep learning to improve your perceptions, until you have fully learnt the Atonement. 
	</div>
</details>
{% endif %}



<p>
6. Evolution is a process in which you seem to proceed from one degree to the next. 
²You correct your previous missteps by stepping forward. 
³This process is actually incomprehensible in temporal terms, because you return as you go forward. 
⁴The Atonement is the device by which you can free yourself from the past as you go ahead. 
⁵It undoes your past errors, thus making it unnecessary for you to keep retracing your steps without advancing to your return. 
⁶In this sense the Atonement saves time, but like the miracle it serves, does not abolish it. 
⁷As long as there is need for Atonement, there is need for time. 
⁸But the Atonement as a completed plan has a unique relationship to time. 
⁹Until the Atonement is complete, its various phases will proceed in time, but the whole Atonement stands at time’s end. 
¹⁰At that point the bridge of return has been built.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
Evolution is a process in which [process] you seem to proceed from one degree to the next. 
²You correct your previous missteps by stepping forward. 
³This process [correcting missteps] is actually incomprehensible in temporal terms, because you return as you go forward. 
⁴The Atonement is the device by which [device] you can free yourself from the past as you go ahead. 
⁵It [the Atonement] undoes your past errors, thus making it unnecessary for you to keep retracing your steps without advancing to your return. 
⁶In this sense [unnecessary to retrace steps] the Atonement saves time, but like the miracle it [the Atonement] serves, [the Atonement] does not abolish it [time]. 
⁷As long as there is need for Atonement, there is need for time. 
⁸But the Atonement as a completed plan has a unique relationship to time. 
⁹Until the Atonement is complete, its [the-Atonement’s] various phases will proceed in time, but the whole Atonement stands at time’s end. 
¹⁰At that point [time’s-end] the bridge of return has been built.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
Evolution is a process — in process of evolution you seem to proceed from one degree to the next. 
²You correct your previous missteps by stepping forward. 
³The process of correcting missteps is actually incomprehensible in temporal terms, because you return as you go forward. 
⁴The Atonement is the device — with Atonement device, you can free yourself from the past as you go ahead. 
⁵The Atonement undoes your past errors, thus making it unnecessary for you to keep retracing your steps without advancing to your return. 
⁶Unnecessary to trace past steps, the Atonement saves time, but like the miracle the Atonement serves, the Atonement does not abolish time. 
⁷As long as there is need for Atonement, there is need for time. 
⁸But the Atonement as a completed plan has a unique relationship to time. 
⁹Until the Atonement is complete, the-Atonement’s various phases will proceed in time, but the whole Atonement stands at time’s end. 
¹⁰At time’s-end the bridge of return has been built.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		The Atonement undoes your past errors. 
		Phases of the Atonement exist in time. 
		But the whole Atonement is at the end of time.
	</div>
</details>
{% endif %}



<p>
7. The Atonement is a total commitment. 
²You may still think this is associated with loss, a mistake all the separated Sons of God make in one way or another. 
³It is hard to believe a defense that cannot attack is the best defense. 
⁴This is what is meant by “the meek shall inherit the earth”. 
⁵They will literally take it over because of their strength. 
⁶A two-way defense is inherently weak precisely because it has two edges, and can be turned against you very unexpectedly. 
⁷This possibility cannot be controlled except by miracles. 
⁸The miracle turns the defense of Atonement to your real protection, and as you become more and more secure you assume your natural talent of protecting others, knowing yourself as both a brother and a Son.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
The Atonement is a total commitment. 
²You may still think this [the Atonement] is associated with loss, a mistake all the separated Sons of God make in one way or another. 
³It is hard to believe a defense that cannot attack is the best defense. 
⁴This is what is meant by “the meek shall inherit the earth”. 
⁵They [the meek] will literally take it [the earth] over because of their [the-meek’s] strength. 
⁶A two-way defense is inherently weak precisely because it [a two-way defense] has two edges, and can be turned against you very unexpectedly. 
⁷This possibility [of defense turned against you] cannot be controlled except by miracles. 
⁸The miracle turns the defense of Atonement to your real protection, and as you become more and more secure you assume your natural talent of protecting others, knowing yourself as both a brother and a Son.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
The Atonement is a total commitment. 
²You may still think the Atonement is associated with loss, a mistake all the separated Sons of God make in one way or another. 
³It is hard to believe a defense that cannot attack is the best defense. 
⁴This is what is meant by “the meek shall inherit the earth”. 
⁵The meek will literally take the earth over because of the-meek’s strength. 
⁶A two-way defense is inherently weak precisely because a two-way defense has two edges, and can be turned against you very unexpectedly. 
⁷The possibility of defense turned against you cannot be controlled except by miracles. 
⁸The miracle turns the defense of Atonement to your real protection, and as you become more and more secure you assume your natural talent of protecting others, knowing yourself as both a brother and a Son.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
If a defence can attack, then the defence can be turned against you. 
The Atonement cannot attack, and you cannot be attacked by the Atonement. 
Therefore there is no loss in the Atonement. 
	</div>
</details>
{% endif %}
