---
layout: content.njk
title: Atonement and Miracles
reference: T-1.III
eleventyNavigation:
  key: T-1.III
  title: T-1.III Atonement and Miracles
  parent: T-1
  order: 3
prev: T-1.II
next: T-1.IV
---

<p id=p1>
	1. I am in charge of the process of Atonement, which I undertook to begin.
	²When you offer a miracle to any of my brothers, you do it to <em>yourself</em> and me.
	³The reason you come before me is that I do not need miracles for my own Atonement, but I stand at the end in case you fail temporarily.
	⁴My part in the Atonement is the cancelling out of all errors that you could not otherwise correct.
	⁵When you have been restored to the recognition of your original state, you naturally become part of the Atonement yourself.
	⁶As you share my unwillingness to accept error in yourself and others, you must join the great crusade to correct it; listen to my voice, learn to undo error and act to correct it.
	⁷The power to work miracles belongs to you.
	⁸I will provide the opportunities to do them, but you must be ready and willing.
	⁹Doing them will bring conviction in the ability, because conviction comes through accomplishment.
	¹⁰The ability is the potential, the achievement is its expression, and the Atonement, which is the natural profession of the children of God, is the purpose.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		I am in charge of the process of Atonement, which [process of Atonement] I undertook to begin.
		²When you offer a miracle to any of my brothers, you do it [offer a miracle] to <em>yourself</em> and me.
		³The reason you come before me is that I do not need miracles for my own Atonement, but I stand at the end in case you fail temporarily.
		⁴My part in the Atonement is the cancelling out of all errors that you could not otherwise correct.
		⁵When you have been restored to the recognition of your original state, you naturally become part of the Atonement yourself.
		⁶As you share my unwillingness to accept error in yourself and others, you must join the great crusade to correct it [error]; listen to my voice, learn to undo error and act to correct it [error].
		⁷The power to work miracles belongs to you.
		⁸I will provide the opportunities to do them [miracles], but you must be ready and willing.
		⁹Doing them [miracles] will bring conviction in the ability, because conviction comes through accomplishment.
		¹⁰The ability is the potential, the achievement is its [the-power-to-work-miracles’] expression, and the Atonement, which [Atonement] is the natural profession of the children of God, is the purpose.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		I am in charge of the process of Atonement — I undertook to begin the process of Atonement.
		²When you offer a miracle to any of my brothers, you offer a miracle to <em>yourself</em> and me.
		³The reason you come before me is that I do not need miracles for my own Atonement, but I stand at the end in case you fail temporarily.
		⁴My part in the Atonement is the cancelling out of all errors that you could not otherwise correct.
		⁵When you have been restored to the recognition of your original state, you naturally become part of the Atonement yourself.
		⁶As you share my unwillingness to accept error in yourself and others, you must join the great crusade to correct error; listen to my voice, learn to undo error and act to correct error.
		⁷The power to work miracles belongs to you.
		⁸I will provide the opportunities to do miracles, but you must be ready and willing.
		⁹Doing miracles will bring conviction in the ability, because conviction comes through accomplishment.
		¹⁰The ability is the potential, the achievement is the-power-to-work-miracles’ expression, and the Atonement — the Atonement is the natural profession of the children of God — is the purpose.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		I begin the process of Atonement.
		I help you to cancel out errors.
		Atonement is being restored to your natural state.
		Correct error by listening to me.
		Learn to undo error and act to correct error.
		Be ready and willing to do miracles.
		Doing more miracles brings more conviction.
		Miracles are for Atonement.
	</div>
</details>
{% endif %}

<p id=p2>
	2. “Heaven and earth shall pass away” means that they will not continue to exist as separate states.
	²My word, which is the resurrection and the life, shall not pass away because life is eternal.
	³You are the work of God, and His work is wholly lovable and wholly loving.
	⁴This is how a man must think of himself in his heart, because this is what he is.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		“Heaven and earth shall pass away” means that they [heaven and earth] will not continue to exist as separate states.
		²My word, which [my word] is the resurrection and the life, shall not pass away because life is eternal.
		³You are the work of God, and His [God’s] work is wholly lovable and wholly loving.
		⁴This [a a work of God] is how a man must think of himself [a-man’s-self] in his [a man’s] heart, because this [a work of God] is what he [a man] is.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		“Heaven and earth shall pass away” means that heaven and earth will not continue to exist as separate states.
		²My word — my word is the resurrection and the life — shall not pass away because life is eternal.
		³You are the work of God, and God’s work is wholly lovable and wholly loving.
		⁴A man must think of a-man’s-self, in a man’s heart, as a work of God, because a man is a work of God.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		Heaven and earth will not continue to exist as separate states.
		My word is the resurrection and the life.
		My word shall not pass away because life is eternal.
		God’s work is wholly lovable and wholly loving.
		You are the work of God.
		You are wholly lovable and loving.
	</div>
</details>
{% endif %}

<p id=p3>
	3. The forgiven are the means of the Atonement.
	²Being filled with spirit, they forgive in return.
	³Those who are released must join in releasing their brothers, for this is the plan of the Atonement.
	⁴Miracles are the way in which minds that serve the Holy Spirit unite with me for the salvation or release of all of God’s creations.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		The forgiven are the means of the Atonement.
		²Being filled with spirit, they [the forgiven] forgive in return.
		³Those who are released must join in releasing their [the-released-ones’] brothers, for this [releasing brothers] is the plan of the Atonement.
		⁴Miracles are the way in which [way] minds that serve the Holy Spirit unite with me for the salvation or release of all of God’s creations.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		The forgiven are the means of the Atonement.
		²Being filled with spirit, the forgiven forgive in return.
		³Those who are released must join in releasing the-released-ones’ brothers, for releasing brothers is the plan of the Atonement.
		⁴Miracles are the way — the way minds that serve the Holy Spirit unite with me for the salvation or release of all of God’s creations.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		The forgiven are able to forgive.
		You are forgiven.
		Release your brothers by forgiving them.
	</div>
</details>
{% endif %}

<p id=p4>
	4. I am the only one who can perform miracles indiscriminately, because I am the Atonement.
	²You have a role in the Atonement which I will dictate to you.
	³Ask me which miracles you should perform.
	⁴This spares you needless effort, because you will be acting under direct communication.
	⁵The impersonal nature of the miracle is an essential ingredient, because it enables me to direct its application, and under my guidance miracles lead to the highly personal experience of revelation.
	⁶A guide does not control but he does direct, leaving it up to you to follow.
	⁷“Lead us not into temptation” means “Recognize your errors and choose to abandon them by following my guidance”.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		I am the only one who can perform miracles indiscriminately, because I am the Atonement.
		²You have a role in the Atonement — which [role] I will dictate to you.
		³Ask me which miracles you should perform.
		⁴This [asking me which miracles you should perform] spares you needless effort, because you will be acting under direct communication.
		⁵The impersonal nature of the miracle is an essential ingredient, because it [the impersonal nature of the miracle] enables me to direct its [the-miracle’s] application, and under my guidance miracles lead to the highly personal experience of revelation.
		⁶A guide does not control but he [a guide] does direct, leaving it up to you to follow.
		⁷“Lead us not into temptation” means “Recognize your errors and choose to abandon them [your errors] by following my guidance”.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		I am the only one who can perform miracles indiscriminately, because I am the Atonement.
		²You have a role in the Atonement — I will dictate your role to you.
		³Ask me which miracles you should perform.
		⁴Asking me which miracles you should perform spares you needless effort, because you will be acting under direct communication.
		⁵The impersonal nature of the miracle is an essential ingredient, because the impersonal nature of the miracle enables me to direct the-miracle’s application, and under my guidance miracles lead to the highly personal experience of revelation.
		⁶A guide does not control but a guide does direct, leaving it up to you to follow.
		⁷“Lead us not into temptation” means “Recognize your errors and choose to abandon your errors by following my guidance”.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		I am the Atonement.
		I can do any miracle I like.
		Ask me what miracle to do.
		Follow my guidance.
	</div>
</details>
{% endif %}


<p id=p5>
	5. Error cannot really threaten truth, which can always withstand it.
	²Only the error is actually vulnerable.
	³You are free to establish your kingdom where you see fit, but the right choice is inevitable if you remember this:
</p>

<blockquote>
	⁴Spirit is in a state of grace forever.<br>
	⁵Your reality is only spirit.<br>
	⁶Therefore you are in a state of grace forever.
</blockquote>

<p>
	⁷Atonement undoes all errors in this respect, and thus uproots the source of fear.
	⁸Whenever you experience God’s reassurances as threat, it is always because you are defending misplaced or misdirected loyalty.
	⁹When you project this to others you imprison them, but only to the extent to which you reinforce errors they have already made.
	¹⁰This makes them vulnerable to the distortions of others, since their own perception of themselves is distorted.
	¹¹The miracle worker can only bless them, and this undoes their distortions and frees them from prison.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		<p>
			Error cannot really threaten truth, which can always withstand it.
			²Only the error is actually vulnerable.
			³You are free to establish your kingdom where you see fit, but the right choice is inevitable if you remember this:
		</p>

		<blockquote>
			⁴Spirit is in a state of grace forever.<br>
			⁵Your reality is only spirit.<br>
			⁶Therefore you are in a state of grace forever.
		</blockquote>

		<p>
			⁷Atonement undoes all errors in this respect [being in a state of grace forever], and thus uproots the source of fear.
			⁸Whenever you experience God’s reassurances as threat, it [experiencing God’s reassurances as threat] is always because you are defending misplaced or misdirected loyalty.
			⁹When you project this [misplaced or misdirected loyalty] to others you imprison them [others], but only [imprison them] to the extent to which [extent] you reinforce errors they [others] have already made.
			¹⁰This [imprisoning others] makes them [the-imprisoned-others] vulnerable to the distortions of others, since their [the-imprisoned-others’] own perception of themselves [the-imprisoned-others’-selves] is distorted.
			¹¹The miracle worker can only bless them [the-imprisoned-others], and this [blessing the-imprisoned-others] undoes their [the-imprisoned-others’] distortions and frees them [the-imprisoned-others] from prison.
		</p>

	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		<p>Error cannot really threaten truth, which can always withstand it.
			²Only the error is actually vulnerable.
			³You are free to establish your kingdom where you see fit, but the right choice is inevitable if you remember this:
		</p>

		<blockquote>
			⁴Spirit is in a state of grace forever.<br>
			⁵Your reality is only spirit.<br>
			⁶Therefore you are in a state of grace forever.
		</blockquote>

		<p>
			⁷Atonement undoes all errors in respect of being in a state of grace forever, and thus uproots the source of fear.
			⁸Whenever you experience God’s reassurances as threat, experiencing God’s reassurances as threat is always because you are defending misplaced or misdirected loyalty.
			⁹When you project misplaced or misdirected loyalty to others you imprison others, but only imprison them to the extent — the extent you reinforce errors others have already made.
			¹⁰Imprisoning others makes the-imprisoned-others vulnerable to the distortions of others, since the-imprisoned-others’ own perception of the-imprisoned-others’-selves is distorted.¹
			¹¹The miracle worker can only bless the-imprisoned-others, and blessing the-imprisoned-others undoes the-imprisoned-others’ distortions and frees the-imprisoned-others from prison.
		</p>

	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		Error is vulnerable; truth is not vulnerable.
		You are in a state of grace forever.
		Undoing errors uproots fear.
		Do not be loyal to error.
		Do not reinforce, defend or project error.
		Bless others so they may undo their distortions.
	</div>
</details>
{% endif %}


<p id=p6>
	6. You respond to what you perceive, and as you perceive so shall you behave.
	²The Golden Rule asks you to do unto others as you would have them do unto you.
	³This means that the perception of both must be accurate.
	⁴The Golden Rule is the rule for appropriate behavior.
	⁵You cannot behave appropriately unless you perceive correctly.
	⁶Since you and your neighbor are equal members of one family, as you perceive both so you will do to both.
	⁷You should look out from the perception of your own holiness to the holiness of others.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		You respond to what you perceive, and as you perceive so shall you behave.
		²The Golden Rule asks you to do unto others as you would have them [others] do unto you.
		³This means that the perception of both [you and others] must be accurate.
		⁴The Golden Rule is the rule for appropriate behavior.
		⁵You cannot behave appropriately unless you perceive correctly.
		⁶Since you and your neighbor are equal members of one family, as you perceive both [you and your neighbor] so you will do to both [you and your neighbor].
		⁷You should look out from the perception of your own holiness to the holiness of others.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		You respond to what you perceive, and as you perceive so shall you behave.
		²The Golden Rule asks you to do unto others as you would have others do unto you.
		³This means that the perception of you and others must be accurate.
		⁴The Golden Rule is the rule for appropriate behavior.
		⁵You cannot behave appropriately unless you perceive correctly.
		⁶Since you and your neighbor are equal members of one family, as you perceive you and your neighbor so you will do to you and your neighbor.
		⁷You should look out from the perception of your own holiness to the holiness of others.
	</div>

</details>
<details>
	<summary>Simplified</summary>
	<div>
		Behavior follows perception.
		Perceive others as holy and you will behave appropriately.
	</div>
</details>
{% endif %}


<p>
	7. Miracles arise from a mind that is ready for them.
	²By being united this mind goes out to everyone, even without the awareness of the miracle worker himself.
	³The impersonal nature of miracles is because the Atonement itself is one, uniting all creations with their Creator.
	⁴As an expression of what you truly are, the miracle places the mind in a state of grace.
	⁵The mind then naturally welcomes the Host within and the stranger without.
	⁶When you bring in the stranger, he becomes your brother.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Miracles arise from a mind that is ready for them [miracles].
		²By being united this mind [a mind ready for miracles] goes out to everyone, even without the awareness of the miracle worker himself [miracle-worker’s-own-self].
		³The impersonal nature of miracles is because the Atonement itself [Atonment’s-own-self] is one, uniting all creations with their [all-creations’] Creator.
		⁴As an expression of what you truly are, the miracle places the mind in a state of grace.
		⁵The mind then naturally welcomes the Host within and the stranger without.
		⁶When you bring in the stranger, he [the stranger] becomes your brother.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Miracles arise from a mind that is ready for miracles.
		²By being united, a mind ready for miracles goes out to everyone, even without the awareness of the miracle-worker’s-own-self.
		³The impersonal nature of miracles is because the Atonment’s-own-self is one, uniting all creations with all-creations’ Creator.
		⁴As an expression of what you truly are, the miracle places the mind in a state of grace.
		⁵The mind then naturally welcomes the Host within and the stranger without.
		⁶When you bring in the stranger, the stranger becomes your brother.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		A miracle-ready mind unites all minds with God.
	</div>
</details>
{% endif %}


<p>
	8. That the miracle may have effects on your brothers that you may not recognize is not your concern.
	²The miracle will always bless <em>you</em>.
	³Miracles you are not asked to perform have not lost their value.
	⁴They are still expressions of your own state of grace, but the action aspect of the miracle should be controlled by me because of my complete awareness of the whole plan.
	⁵The impersonal nature of miracle-mindedness ensures your grace, but only I am in a position to know where they can be bestowed.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		That the miracle may have effects on your brothers that you may not recognize is not your concern.
		²The miracle will always bless <em>you</em>.
		³Miracles you are not asked to perform have not lost their [miracles’] value.
		⁴They [miracles] are still expressions of your own state of grace, but the action aspect of the miracle should be controlled by me because of my complete awareness of the whole plan.
		⁵The impersonal nature of miracle-mindedness ensures your grace, but only I am in a position to know where they [miracles] can be bestowed.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		That the miracle may have effects on your brothers that you may not recognize is not your concern.
		²The miracle will always bless <em>you</em>.
		³Miracles you are not asked to perform have not lost miracles’ value.
		⁴Miracles are still expressions of your own state of grace, but the action aspect of the miracle should be controlled by me because of my complete awareness of the whole plan.
		⁵The impersonal nature of miracle-mindedness ensures your grace, but only I am in a position to know where miracles can be bestowed.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		You do not always recognize the effect of a miracle.
		You are blessed by your own miracles.
		I control how miracles are used.
	</div>
</details>
{% endif %}


<p>
	9. Miracles are selective only in the sense that they are directed towards those who can use them for themselves.
	²Since this makes it inevitable that they will extend them to others, a strong chain of Atonement is welded.
	³However, this selectivity takes no account of the magnitude of the miracle itself, because the concept of size exists on a plane that is itself unreal.
	⁴Since the miracle aims at restoring the awareness of reality, it would not be useful if it were bound by laws that govern the error it aims to correct.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
		Miracles are selective only in the sense that they [miracles] are directed towards those who can use them [miracles] for themselves [miracle-user’s-selves].
		²Since this [directing miracles to those who can use miracles] makes it inevitable that they [miracle-user’s] will extend them [miracles] to others, a strong chain of Atonement is welded.
		³However, this selectivity [selecting who receives a miracle] takes no account of the magnitude of the miracle itself [miracle’s-own-self], because the concept of size exists on a plane that is itself [plane’s-self] unreal.
		⁴Since the miracle aims at restoring the awareness of reality, it [the miracle] would not be useful if it [the miracle] were bound by laws that govern the error it [the miracle] aims to correct.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
		Miracles are selective only in the sense that miracles are directed towards those who can use miracles for miracle-user’s-selves.
		²Since directing miracles to those who can use miracles makes it inevitable that miracle-user’s will extend miracles to others, a strong chain of Atonement is welded.
		³However, selecting who receives a miracle takes no account of the magnitude of the miracle’s-own-self, because the concept of size exists on a plane that is plane’s-self unreal.
		⁴Since the miracle aims at restoring the awareness of reality, the miracle would not be useful if the miracle were bound by laws that govern the error the miracle aims to correct.
	</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
		Miracles are given to those who can use miracles. 
		Those who can use miracles will extend miracles to others. 
	</div>
</details>
{% endif %}
