<!doctype html>
<html>
  <head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>ACIM Easy to Read — {{ page.title }}</title>
    <link rel=stylesheet href=/assets/css/style2.css>
  </head>
  <body>
    <header>A Course in Miracles — Easy to Read</header>
    <nav>
      <div style=display:flex class=topnav>
        <!-- TODO build from folder structure -->
        <div><a href=/t>Text</a></div>
        <div><a href=/w>Workbook</a></div>
        <div><a href=/m>Manual</a></div>
        <div><a href=/other>Other</a></div>
      </div>
    </nav>
    <main>
      {{ content }}
    </main>
    <footer></footer>
    
  </body>
</html>
