---
layout: content.njk
title: Healing as Release from Fear
reference: T-2.IV
eleventyNavigation:
  key: T-2.IV
  title: T-2.IV Healing as Release from Fear
  parent: T-2
  order: 4
prev: T-2.III
next: T-2.V
---

<p id=p1>
1. Our emphasis is now on healing. 
²The miracle is the means, the Atonement is the principle, and healing is the result. 
³To speak of “a miracle of healing” is to combine two orders of reality inappropriately. 
⁴Healing is not a miracle. 
⁵The Atonement, or the final miracle, is a remedy and any type of healing is a result. 
⁶The kind of error to which Atonement is applied is irrelevant. 
⁷All healing is essentially the release from fear. 
⁸To undertake this you cannot be fearful yourself. 
⁹You do not understand healing because of your own fear.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
Our emphasis is now on healing. 
²The miracle is the means, the Atonement is the principle, and healing is the result. 
³To speak of “a miracle of healing” is to combine two orders of reality inappropriately. 
⁴Healing is not a miracle. 
⁵The Atonement, or the final miracle, is a remedy and any type of healing is a result. 
⁶The kind of error to which Atonement is applied is irrelevant. 
⁷All healing is essentially the release from fear. 
⁸To undertake this [healing by release from fear] you cannot be fearful yourself. 
⁹You do not understand healing because of your own fear.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
Our emphasis is now on healing. 
²The miracle is the means, the Atonement is the principle, and healing is the result. 
³To speak of “a miracle of healing” is to combine two orders of reality inappropriately. 
⁴Healing is not a miracle. 
⁵The Atonement, or the final miracle, is a remedy and any type of healing is a result. 
⁶The kind of error to which Atonement is applied is irrelevant. 
⁷All healing is essentially the release from fear. 
⁸To undertake healing by release from fear, you cannot be fearful yourself. 
⁹You do not understand healing because of your own fear.
			</div>
</details>
{% if readable %}
<details>
	<summary>Readable</summary>
	<div>
Our emphasis is now on healing. 
The miracle is the means, the Atonement is the principle, and healing is the result. 
To speak of “a miracle of healing” is an inappropriate combination of two orders of reality. 
Healing is not a miracle. 
The Atonement, or the final miracle, is a remedy and any type of healing is a result. 
You can apply Atonement to any kind of error.  
All healing is the release from fear. 
To undertake this you cannot be fearful yourself. 
You do not understand healing because of your own fear.
	</div>
</details>
{% endif %}
<details>
	<summary>Simplified</summary>
	<div>
		Healing is the release from fear. 
		Healing is the result of miracles. 
		The Atonement makes miracles possible. 	
	</div>
</details>
{% endif %}

<p id=p2>
2. A major step in the Atonement plan is to undo error at all levels. 
²Sickness or “not-right-mindedness” is the result of level confusion, because it always entails the belief that what is amiss on one level can adversely affect another. 
³We have referred to miracles as the means of correcting level confusion, for all mistakes must be corrected at the level on which they occur. 
⁴Only the mind is capable of error. 
⁵The body can act wrongly only when it is responding to misthought. 
⁶The body cannot create, and the belief that it can, a fundamental error, produces all physical symptoms. 
⁷Physical illness represents a belief in magic. 
⁸The whole distortion that made magic rests on the belief that there is a creative ability in matter which the mind cannot control. 
⁹This error can take two forms: it can be believed that the mind can miscreate in the body, or that the body can miscreate in the mind. 
¹⁰When it is understood that the mind, the only level of creation, cannot create beyond itself, neither type of confusion need occur.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
A major step in the Atonement plan is to undo error at all levels. 
²Sickness or “not-right-mindedness” is the result of level confusion, because it [sickness] always entails the belief that what is amiss on one level can adversely affect another [level]. 
³We have referred to miracles as the means of correcting level confusion, for all mistakes must be corrected at the level on which [level] they [mistakes] occur. 
⁴Only the mind is capable of error. 
⁵The body can act wrongly only when it [the body] is responding to misthought. 
⁶The body cannot create, and the belief that it [the body] can [create], a fundamental error, produces all physical symptoms. 
⁷Physical illness represents a belief in magic. 
⁸The whole distortion that made magic rests on the belief that there is a creative ability in matter which [creative ability] the mind cannot control. 
⁹This error can take two forms: it can be believed that the mind can miscreate in the body, or that the body can miscreate in the mind. 
¹⁰When it is understood that the mind, the only level of creation, cannot create beyond itself [the-mind’s own self], neither type of confusion need occur.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
A major step in the Atonement plan is to undo error at all levels. 
²Sickness or “not-right-mindedness” is the result of level confusion, because sickness always entails the belief that what is amiss on one level can adversely affect another level. 
³We have referred to miracles as the means of correcting level confusion, for all mistakes must be corrected at the level mistakes occur. 
⁴Only the mind is capable of error. 
⁵The body can act wrongly only when the body is responding to misthought. 
⁶The body cannot create, and the belief that the body can create, a fundamental error, produces all physical symptoms. 
⁷Physical illness represents a belief in magic. 
⁸The whole distortion that made magic rests on the belief that there is a creative ability in matter — a creative ability the mind cannot control. 
⁹This error can take two forms: it can be believed that the mind can miscreate in the body, or that the body can miscreate in the mind. 
¹⁰When it is understood that the mind, the only level of creation, cannot create beyond the-mind’s own self, neither type of confusion need occur.
</div>
</details>
{% if readable %}
<details>
	<summary>Readable</summary>
	<div>
A major step in the Atonement plan is to undo error at all levels. 
Sickness or “not-right-mindedness” is the result of level confusion. 
Sickness always entails the belief that what is amiss on one level can upset affect another.   
We have referred to miracles as the means of correcting level confusion. 
You must correct all mistakes at the level on which they occur.  
Only the mind is capable of error. 
The body can err only when it is responding to misthought. 
The body cannot create. 
Believing the body can create is an error producing all physical symptoms.  
Physical illness represents a belief in magic. 
The belief there is a creative ability in matter which the mind cannot control is what that makes magic.  
This error can take two forms. You can believe that the mind can miscreate in the body, or believe that the body can miscreate in the mind. 
Mind is the only level of creation and cannot create beyond itself. If you understand that this, neither type of confusion need occur. 
	</div>
</details>
{% endif %}
<details>
	<summary>Simplified</summary>
	<div>
		Only the mind can make an error. 
		The body responds to errors in the mind.	
	</div>
</details>
{% endif %}

<p id=p3>
3. Only the mind can create because spirit has already been created, and the body is a learning device for the mind. 
²Learning devices are not lessons in themselves. 
³Their purpose is merely to facilitate learning. 
⁴The worst a faulty use of a learning device can do is to fail to facilitate learning. 
⁵It has no power in itself to introduce actual learning errors. 
⁶The body, if properly understood, shares the invulnerability of the Atonement to two-edged application. 
⁷This is not because the body is a miracle, but because it is not inherently open to misinterpretation. 
⁸The body is merely part of your experience in the physical world. 
⁹Its abilities can be and frequently are overevaluated. 
¹⁰However, it is almost impossible to deny its existence in this world. 
¹¹Those who do so are engaging in a particularly unworthy form of denial. 
¹²The term “unworthy” here implies only that it is not necessary to protect the mind by denying the unmindful. 
¹³If one denies this unfortunate aspect of the mind’s power, one is also denying the power itself.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
Only the mind can create because spirit has already been created, and the body is a learning device for the mind. 
²Learning devices are not lessons in themselves [learning-devices’ own selves]. 
³Their [learning-devices’] purpose is merely to facilitate learning. 
⁴The worst a faulty use of a learning device can do is to fail to facilitate learning. 
⁵It [a learning device] has no power in itself [learning-devices’ own self] to introduce actual learning errors. 
⁶The body, if properly understood, shares the invulnerability of the Atonement to two-edged application. 
⁷This [vulnerability to two-edged application] is not because the body is a miracle, but because it [the body] is not inherently open to misinterpretation. 
⁸The body is merely part of your experience in the physical world. 
⁹Its [the-body’s] abilities can be and frequently are overevaluated. 
¹⁰However, it is almost impossible to deny its [the-body’s] existence in this world. 
¹¹Those who do so [deny the body’s existence in the world] are engaging in a particularly unworthy form of denial. 
¹²The term “unworthy” here implies only that it is not necessary to protect the mind by denying the unmindful. 
¹³If one denies this unfortunate aspect of the mind’s power, one is also denying the power itself.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
Only the mind can create because spirit has already been created, and the body is a learning device for the mind. 
²Learning devices are not lessons in learning-devices’ own selves. 
³Learning-devices’ purpose is merely to facilitate learning. 
⁴The worst a faulty use of a learning device can do is to fail to facilitate learning. 
⁵A learning device has no power in learning-devices’ own self to introduce actual learning errors. 
⁶The body, if properly understood, shares the invulnerability of the Atonement to two-edged application. 
⁷Vulnerability to two-edged application is not because the body is a miracle, but because the body is not inherently open to misinterpretation. 
⁸The body is merely part of your experience in the physical world. 
⁹The-body’s abilities can be and frequently are overevaluated. 
¹⁰However, it is almost impossible to deny the-body’s existence in this world. 
¹¹Those who deny the body’s existence in the world are engaging in a particularly unworthy form of denial. 
¹²The term “unworthy” here implies only that it is not necessary to protect the mind by denying the unmindful. 
¹³If one denies this unfortunate aspect of the mind’s power, one is also denying the power itself.
	</div>
</details>
{% if readable %}
<details>
	<summary>Readable</summary>
	<div>
Only the mind can create because God already created spirit, and the body is a learning device for the mind. 
Learning devices are not lessons in themselves. 
Their only purpose is to enable learning.  
The worst a faulty use of a learning device can do is to fail to enable learning. 
It has no power in itself to introduce actual learning errors. 
The body, if understood, shares the invulnerability of the Atonement to two-edged application. 
This is not because the body is a miracle, but because it is not in itself open to misinterpretation. 
The body is part of your experience in the physical world. 
You often overevaluate the body’s abilities. 
But it is almost impossible to deny its existence in this world. 
Those who do so are engaging in a particularly unworthy form of denial. 
The term “Unworthy” means it is not necessary to protect the mind by denying the unmindful.  
If one denies this unfortunate aspect of the mind’s power, one is also denying the power itself.
	</div>
</details>
{% endif %}
<details>
	<summary>Simplified</summary>
	<div>
The ability to miscreate is part of the ability to create. 
The mind’s miscreations can used as learning devices. 
Do not deny the body. 
The body is a learning device you should use.
	</div>
</details>
{% endif %}

<p id=p4>
4. All material means that you accept as remedies for bodily ills are restatements of magic principles. 
²This is the first step in believing that the body makes its own illness. 
³It is a second misstep to attempt to heal it through non-creative agents. 
⁴It does not follow, however, that the use of such agents for corrective purposes is evil. 
⁵Sometimes the illness has a sufficiently strong hold over the mind to render a person temporarily inaccessible to the Atonement. 
⁶In this case it may be wise to utilise a compromise approach to mind and body, in which something from the outside is temporarily given healing belief. 
⁷This is because the last thing that can help the non-right-minded, or the sick, is an increase in fear. 
⁸They are already in a fear-weakened state. 
⁹If they are prematurely exposed to a miracle, they may be precipitated into panic. 
¹⁰This is likely to occur when upside-down perception has induced the belief that miracles are frightening.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
All material means that you accept as remedies for bodily ills are restatements of magic principles. 
²This [accepting material means as a remedy] is the first step in believing that the body makes its [the-body’s] own illness. 
³It is a second misstep to attempt to heal it [the body] through non-creative agents. 
⁴It does not follow, however, that the use of such [non-creative] agents for corrective purposes is evil. 
⁵Sometimes the illness has a sufficiently strong hold over the mind to render a person temporarily inaccessible to the Atonement. 
⁶In this case it may be wise to utilise a compromise approach to mind and body, in which [approach] something from the outside is temporarily given healing belief. 
⁷This [wise to utilise a compromise approach] is because the last thing that can help the non-right-minded, or the sick, is an increase in fear. 
⁸They [the non-right-minded] are already in a fear-weakened state. 
⁹If they [the non-right-minded] are prematurely exposed to a miracle, they [the non-right-minded] may be precipitated into panic. 
¹⁰This [panic] is likely to occur when upside-down perception has induced the belief that miracles are frightening.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
All material means that you accept as remedies for bodily ills are restatements of magic principles. 
²Accepting material means as a remedy is the first step in believing that the body makes the-body’s own illness. 
³It is a second misstep to attempt to heal the body through non-creative agents. 
⁴It does not follow, however, that the use of non-creative agents for corrective purposes is evil. 
⁵Sometimes the illness has a sufficiently strong hold over the mind to render a person temporarily inaccessible to the Atonement. 
	⁶In this case it may be wise to utilise a compromise approach to mind and body — in a compromise approach something from the outside is temporarily given healing belief. 
⁷Being wise to utilise a compromise approach, is because the last thing that can help the non-right-minded, or the sick, is an increase in fear. 
⁸The non-right-minded are already in a fear-weakened state. 
⁹If the non-right-minded are prematurely exposed to a miracle, the non-right-minded may be precipitated into panic. 
¹⁰Panic is likely to occur when upside-down perception has induced the belief that miracles are frightening.
</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
The belief in illness can take hold of the mind. 
In this state, a miracle can cause fear or panic. 
If so, it might be better to use material means. 
Using material means in this case is not a bad thing.	
	</div>
</details>
{% endif %}

<p id=p5>
5. The value of the Atonement does not lie in the manner in which it is expressed. 
²In fact, if it is used truly, it will inevitably be expressed in whatever way is most helpful to the receiver. 
³This means that a miracle, to attain its full efficacy, must be expressed in a language that the recipient can understand without fear. 
⁴This does not necessarily mean that this is the highest level of communication of which he is capable. 
⁵It does mean, however, that it is the highest level of communication of which he is capable <em>now</em>. 
⁶The whole aim of the miracle is to raise the level of communication, not to lower it by increasing fear.
</p>

{% if showDetails %}
<details>
	<summary>Expanded</summary>
	<div>
The value of the Atonement does not lie in the manner in which it [the Atonement] is expressed. 
²In fact, if it [the Atonement] is used truly, it [the Atonement] will inevitably be expressed in whatever way is most helpful to the receiver. 
³This means that a miracle, to attain its full efficacy, must be expressed in a language that the recipient can understand without fear. 
⁴This does not necessarily mean that this is the highest level of communication of which he [the recipient] is capable. 
⁵It does mean, however, that it [what can be understood without fear] is the highest level of communication of which he is capable <em>now</em>. 
⁶The whole aim of the miracle is to raise the level of communication, not to lower it [the level of communication] by increasing fear.
	</div>
</details>
<details>
	<summary>Substituted</summary>
	<div>
The value of the Atonement does not lie in the manner in which the Atonement is expressed. 
²In fact, if the Atonement is used truly, the Atonement will inevitably be expressed in whatever way is most helpful to the receiver. 
³This means that a miracle, to attain its full efficacy, must be expressed in a language that the recipient can understand without fear. 
⁴This does not necessarily mean that this is the highest level of communication of which the recipient is capable. 
⁵It does mean, however, that what can be understood without fear is the highest level of communication of which he is capable <em>now</em>. 
⁶The whole aim of the miracle is to raise the level of communication, not to lower the level of communication by increasing fear.
			</div>
</details>
<details>
	<summary>Simplified</summary>
	<div>
Miracles express the Atonement in whatever way is most helpful to the receiver. 	
	</div>
</details>
{% endif %}
