
blockquote p {
	color: $textColor;
}

div.custom-block.tip {
border-color: $badgeTipColor
}

.el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
	color: $badgeTipColor
}

.el-tabs--border-card > .el-tabs__header .el-tabs__item:not(.is-disabled):hover {
	color: $badgeTipColor
}


@media only screen and (min-device-width: 500px) { 
	div.indented, div.indent {
		margin-left: 4rem;
		margin-right: 4rem;
	}
}

div.centred, div.centre {
	text-align: center;
}

div.italic {
	font-style: italic;
}

div.normal {
	font-weight: normal;
	font-style: normal;
}


div.bold {
	font-weight: bold;
}
